<div class="page-header">
    <h4>Client Details</h4><br>
</div>

<!--<style>
    /* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	/*padding: 3px 10px;*/
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>-->

<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">
                <!-- Q1a - NotParticipatingReasonType -->
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>1a.If this client will no longer be part of the UBA Health Plan Survey, is it due to:</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.NotParticipatingReasonTypeId" value="1" />
                                        Terminated policy
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.NotParticipatingReasonTypeId" value="2" />
                                        No longer a client
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.NotParticipatingReasonTypeId" value="3" />
                                        Client moved policy to marketplace
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.NotParticipatingReasonTypeId" value="4"/>
                                        Client is part of the Health Plan Survey
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q1 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>1. Client ID Number:&nbsp;&nbsp;{{survey.ClientId}}</span></div>
                            <div class="divTableCell">&nbsp;&nbsp;<a id="btnEditClientId" href="http://hps-test.ubabenefits.com/ManageSurveys?ResponseID=\[|ResponseID,SurveyResponses\]&amp;Action=ChangeClientID&amp;FromSurvey=True">Edit</a></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q2 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span> 2. Name of Organization: </span></div>
                            <div class="divTableCell"><input id="d_Organization" tabindex="6" maxlength="100" name="d_Organization" size="60" type="text" ng-model="survey.OrganizationName" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q3 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>3. Name of Person Completing Survey:</span></div>
                            <div class="divTableCell"><input id="d_PersonCompletingSurvey" tabindex="7" maxlength="100" name="d_PersonCompletingSurvey" size="60" type="text" ng-model="survey.PersonCompletingSurvey" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q4 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>4. Title: </span></div>
                            <div class="divTableCell"><input id="d_PersonCompletingSurvey_Title" tabindex="8" maxlength="75" name="d_PersonCompletingSurvey_Title" size="60" type="text" ng-model="survey.PersonCompletingSurvey_Title" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q5 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>5. Email Address: </span></div>
                            <div class="divTableCell"><input id="d_PersonCompletingSurvey_Email" tabindex="9" maxlength="100" name="d_PersonCompletingSurvey_Email" size="60" type="text" ng-model="survey.PersonCompletingSurvey_Email" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q6 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>6. Phone Number:</span></div>
                            <div class="divTableCell"><input id="d_PersonCompletingSurvey_Phone" tabindex="10" maxlength="14" name="d_PersonCompletingSurvey_Phone" size="11" type="text" ng-model="survey.PersonCompletingSurvey_Phone" /></div>
                            <div class="divTableCell"><span> Ext.:</span></div>
                            <div class="divTableCell"><input id="d_PersonCompletingSurvey_PhoneExt" tabindex="11" maxlength="10" name="d_PersonCompletingSurvey_PhoneExt" size="5" type="text" ng-model="survey.PersonCompletingSurvey_PhoneExt" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q7 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>7. City:</span></div>
                            <div class="divTableCell"><input id="d_City" tabindex="12" maxlength="50" name="d_City" size="26" type="text" ng-model="survey.City" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q8 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>8. State:</span></div>
                            <div class="divTableCell">

                                <select ng-model="survey.US_StateId" ng-options="x for (x,y) in usStates">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q9 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">9. ZIP code (5-digit only):</div>
                            <div class="divTableCell"><input id="d_ZipCode" tabindex="14" maxlength="5" name="d_ZipCode" size="5" type="text" ng-model="survey.ZipCode" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <!-- Q10 -->
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>10. For organizations with multiple locations, please provide the city, state, and ZIP code of your location with the largest employee enrollment (only if other than the location noted above). </span></div>
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><span>City:</span></div>
                            <div class="divTableCell"><input id="d_LargestLocCity" tabindex="15" maxlength="50" name="d_LargestLocCity" size="26" type="text" ng-model="survey.LargestLocationCity" /></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><span> State:</span></div>
                            <div class="divTableCell">
                                <span>
                                    <select ng-model="survey.LargestLocationStateId" ng-options="x for (x,y) in usStates"></select>
                                </span>
                            </div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><span>Zip Code <br /> (5-digit Only):</span></div>
                            <div class="divTableCell"><input id="d_LargestLocZipCode" tabindex="17" maxlength="5" name="d_LargestLocZipCode" size="5" type="text" ng-model="survey.LargestLocationZipCode" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>10a. Is this a Controlled Group:</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.IsControlledGroup" value="1" />
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.IsControlledGroup" value="0" />
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>11.NAICS Code:</span><button> NAICS Webpage </button> &nbsp;<span class="icons help" data-questionid="11"> <span id="vcNAICSMaster" class="spanValidation" style="position: relative; display: inline; left: 0px;" data-targettable="SurveyResponses" data-errortype="Severe"> <img class="displayValidationError" style="position: absolute; left: 0px; background-color: #ffffff; z-index: 1;" src="/Portals/_default/bolton/images/severe_t.png" alt="" /> </span> </span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><span style="font-size: 13px;"> <input id="d_NAICSMaster" style="width: 75px;" tabindex="20" maxlength="6" name="d_NAICSMaster" type="text" ng-model="survey.NAICSMasterCodeId" /> (enter all 6 characters) </span><span id="naicsLookup" style="color: #0000bc;"></span></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">12. Type of Organization:</div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.OrganizationTypeId" value="4" />
                                        Union
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.OrganizationTypeId" value="2" />
                                        For-Profit
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.OrganizationTypeId" value="3" />
                                        Not-For-Profit
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.OrganizationTypeId" value="3" />
                                        Public/Governmental
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>12a. Do the employees of this organization belong to a union?</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.HasUnionEmployees" value="1" />
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.HasUnionEmployees" value="0" />
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>12b. Does this organization employ Leased/Staffed employees?</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.HasLeasedStaffed" value="1" />
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.HasLeasedStaffed" value="0" />
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>12c. Is this an Applicable Large Employer (100 or more full-time equivalent employees)?</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.IsApplicableLargeEmployer" value="1" />
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.IsApplicableLargeEmployer" value="0" />
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>13.Total Number of Active Employees: </span></div>
                            <div class="divTableCell"><input id="d_Employees" tabindex="31" maxlength="6" name="d_Employees" size="7" type="text" ng-model="survey.ActiveEmployeesCount" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>14. Total Number of Active Employees<br />Eligible for Any Group Medical Plans<br />Offered: </span> <span>(Please click on the "i" help button for the definition of eligible employees.)</span></div>
                            <div class="divTableCell"><input id="d_EligibleEmployees" tabindex="32" maxlength="6" name="d_EligibleEmployees" size="7" type="text" ng-model="survey.EligibleEmployeesCount" /></div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>14a. Are there employees that work variable hours?</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.HasVariableHourEmployees" value="1" />
                                        Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="survey.HasVariableHourEmployees" value="0" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>14b. How many Part-Time, Full-Time Equivalent, and Other employees? </span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">
                                 Part-Time: <input id="d_PartTimeCount" tabindex="35" maxlength="6" name="d_PartTimeCount" size="6" type="text" ng-model="survey.PartTimeEmployeesCount" /> <br /><br />
                                 Full-Time Equivalent: <input id="d_FullTimeCount" tabindex="36" maxlength="6" name="d_FullTimeCount" size="6" type="text" ng-model="survey.FullTimeEmployeeCount" /> <br /><br />
                                 Other (Contract, Lease, Seasonal): <input id="d_EECount" tabindex="37" maxlength="6" name="d_EECount" size="6" type="text" ng-model="survey.OtherEmployeeCount" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>15. Are Ancillary Products Offered?</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.AreAncillaryProductsOffered" value="1" />
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="survey.AreAncillaryProductsOffered" value="0" />
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><span>Save</span></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell">
                                <button id="Submit" class="btn btn-default" ng-click="saveSurvey(survey)" ng-disabled="isSubmitting">Save</button>
                                <strong>TODO:</strong>Some kind of nav thingy
                                <button id="Next" class="btn btn-default" ng-click="nextPage(survey)" ng-disabled="isSubmitting">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('SurveyWrangler', []);
    app.controller('usStateController', function($scope) {
        $scope.usStates = [
            { US_StateId : 1, Name : "AL" },
            { US_StateId : 10, Name : "FL" }
        ];
        console.log($scope.usStates)
    });
</script>