<div>
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <h4>Client Details</h4>
            </div>
            <div class="col-md-3" align="right">
                <h4>ResponseId: {{response.ResponseId}}</h4>
            </div>
        </div>
    </div>
    <form action="" name="companyDetailForm">
      <p align="right"><span style="color:#AB0900; font-size:14pt;"><strong>|</strong></span> <i>Required field</i></p>
        <div class="form-group" ng-controller="ReferenceController as notParticipatingReason" tablename="NotParticipatingReasonType">
            <label for="">
              1.If this client will no longer be part of the UBA Health Plan Survey, is it due to:
                <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'This question applies to UBA partners only. The primary purpose of this question is to track what percentage of the respondents move to the marketplace'">
                    <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                </a>
            </label>
            <select class="selectpicker form-control show-tick" ng-model="response.NotParticipatingReasonTypeId" ng-options="item.TypeId as item.Name for item in notParticipatingReason.items" required></select>
        </div>

        <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_Organization.$touched && companyDetailForm.d_Organization.$invalid }">
            <label for="">
                2. Name of Organization:
                <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'Your contact information will only be shared with the UBA Member Firm who invited you to participate in this Survey. In order to insure the integrity of the database, all responses must be validated by a UBA Member Firm.'">
                    <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                </a>
            </label>
            <input class="form-control bs-callout bs-callout-danger" id="d_Organization" tabindex="6" ng-maxlength="100" name="d_Organization" size="60" type="text" ng-model="response.OrganizationName" required />
            <span class="help-block" ng-show="companyDetailForm.d_Organization.$touched && companyDetailForm.d_Organization.$error.required">This field is required.</span>
            <span class="help-block" ng-show="companyDetailForm.d_Organization.$dirty && companyDetailForm.d_Organization.$error.maxlength">This field is too large.</span>
            <!-- <div class="help-block" ng-messages="companyDetailForm.d_Organization.$error" ng-show="companyDetailForm.d_Organization.$touched">
              <p ng-message="required">* Required.</p>
            </div> -->
        </div>

        <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_PersonCompletingSurvey.$touched && companyDetailForm.d_PersonCompletingSurvey.$invalid }">
            <label for="">
              3. Name of Person Completing Survey:
                <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'In order to protect the integrity of the database, any missing or possibly incorrect responses must be validated by a UBA Member Firm. This information is used solely for that purpose and to deliver the resulting benchmark report.'">
                    <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                </a>
            </label>
            <input class="form-control" id="d_PersonCompletingSurvey" tabindex="7" ng-maxlength="100" name="d_PersonCompletingSurvey" size="60" type="text" ng-model="response.PersonCompletingSurvey" required/>
            <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey.$touched && companyDetailForm.d_PersonCompletingSurvey.$error.required">This field is required.</span>
            <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey.$dirty && companyDetailForm.d_PersonCompletingSurvey.$error.maxlength">This field is too large.</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_PersonCompletingSurvey_Title.$touched && companyDetailForm.d_PersonCompletingSurvey_Title.$invalid }">
            <label for="">
                4. Title:
            </label>
            <input class="form-control bs-callout bs-callout-danger" id="d_PersonCompletingSurvey_Title" tabindex="8" ng-maxlength="75" name="d_PersonCompletingSurvey_Title" size="60" type="text" ng-model="response.PersonCompletingSurvey_Title" required />
            <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey_Title.$touched && companyDetailForm.d_PersonCompletingSurvey_Title.$error.required">This field is required.</span>
            <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey_Title.$dirty && companyDetailForm.d_PersonCompletingSurvey_Title.$error.maxlength">This field is too large.</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_PersonCompletingSurvey_Email.$touched && companyDetailForm.d_PersonCompletingSurvey_Email.$invalid }">
            <label for="">
              5. Email Address:
                <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'In order to protect the integrity of the database, any missing or possibly incorrect responses must be validated by a UBA Member Firm. This information is used solely for that purpose and to deliver the resulting benchmark report.'">
                    <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                </a>
            </label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input class="form-control" id="d_PersonCompletingSurvey_Email" tabindex="9" ng-maxlength="100" name="d_PersonCompletingSurvey_Email" size="60" type="email" ng-model="response.PersonCompletingSurvey_Email" required/>
            </div>
            <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey_Email.$touched && companyDetailForm.d_PersonCompletingSurvey_Email.$error.required">This field is required.</span>
            <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey_Email.$dirty && companyDetailForm.d_PersonCompletingSurvey_Email.$error.maxlength">This field is too large.</span>
        </div>

        <div class="form-inline">
            <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_PersonCompletingSurvey_Phone.$touched && companyDetailForm.d_PersonCompletingSurvey_Phone.$invalid }">
                <label for="">
                  6. Phone Number:
                    <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'In order to protect the integrity of the database, any missing or possibly incorrect responses must be validated by a UBA Member Firm. This information is used solely for that purpose and to deliver the resulting benchmark report.'">
                        <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                    </a>
                </label>
                <input class="form-control bs-callout bs-callout-danger" id="d_PersonCompletingSurvey_Phone" tabindex="10" ng-maxlength="14" name="d_PersonCompletingSurvey_Phone" size="11" type="text" ng-model="response.PersonCompletingSurvey_Phone" required />
                <label for="">Ext.:</label>
                <input class="form-control" id="d_PersonCompletingSurvey_PhoneExt" tabindex="11" ng-maxlength="10" name="d_PersonCompletingSurvey_PhoneExt" size="5" type="text" ng-model="response.PersonCompletingSurvey_PhoneExt" />
                <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey_Phone.$touched && companyDetailForm.d_PersonCompletingSurvey_Phone.$error.required">This field is required.</span>
                <span class="help-block" ng-show="companyDetailForm.d_PersonCompletingSurvey_Phone.$dirty && companyDetailForm.d_PersonCompletingSurvey_Phone.$error.maxlength">This field is too large.</span>
            </div>
        </div>
        <br>
        <div class="form-inline">
            <div class="form-group" style="padding-right:30px;" ng-class="{ 'has-error': companyDetailForm.d_City.$touched && companyDetailForm.d_City.$invalid }">
                <label for="">7. City:</label>
                  <input class="form-control bs-callout bs-callout-danger" id="d_City" tabindex="12" ng-maxlength="50" name="d_City" size="26" type="text" ng-model="response.City" required />
                  <span class="help-block" ng-show="companyDetailForm.d_City.$touched && companyDetailForm.d_City.$error.required">This field is required.</span>
                  <span class="help-block" ng-show="companyDetailForm.d_City.$dirty && companyDetailForm.d_City.$error.maxlength">This field is too large.</span>
            </div>

            <div class="form-group" ng-controller="ReferenceController as states" tablename="US_State" style="padding-right:30px;">
                <label for="">
                  8. State:
                    <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'The purpose of this Survey is to develop benchmarks based on three categories: geographic region, industry category, and number of employees. This information is required in order to attribute the data correctly in each of these categories.'">
                        <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                    </a>
                </label>
                <select name="d_State" ng-model="response.US_StateId" ng-options="item.TypeId as item.Name for item in states.items" class="form-control selectpicker show-tick"></select>
            </div>

            <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_ZipCode.$touched && companyDetailForm.d_ZipCode.$invalid }">
                <label for="">
                  9. Zip Code:
                    <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'The purpose of this Survey is to develop benchmarks based on three categories: geographic region, industry category, and number of employees. This information is required in order to attribute the data correctly in each of these categories.'">
                        <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                    </a>
                </label>
                <input class="form-control" id="d_ZipCode" tabindex="14" ng-maxlength="5" name="d_ZipCode" size="5" type="text" ng-model="response.ZipCode" required />
                <span class="help-block" ng-show="companyDetailForm.d_ZipCode.$touched && companyDetailForm.d_ZipCode.$error.required">This field is required.</span>
                <span class="help-block" ng-show="companyDetailForm.d_ZipCode.$dirty && companyDetailForm.d_ZipCode.$error.maxlength">This field is too large.</span>
            </div>
        </div>
        <br>

        <label for="">
          10. For organizations with multiple locations, please provide the city, state, and ZIP code of your location with the largest employee enrollment (only if other than the location noted above).
            <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'For employers with multiple locations, the Survey attributes data based on the location with the largest employee population. This information is essential in order to develop accurate regional benchmarks.'">
                <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
            </a>
        </label>
        <div class="form-inline">
            <div class="form-group" style="padding-right:60px;" ng-class="{ 'has-error': companyDetailForm.d_ZipCode.$touched && companyDetailForm.d_ZipCode.$invalid }">
                <label for="">City:</label>
                <input class="form-control" id="d_LargestLocCity" tabindex="15" ng-maxlength="50" name="d_LargestLocCity" size="26" type="text" ng-model="response.LargestLocationCity" />
                <span class="help-block" ng-show="companyDetailForm.d_LargestLocCity.$dirty && companyDetailForm.d_LargestLocCity.$error.maxlength">This field is too large.</span>
            </div>
            <div class="form-group" ng-controller="ReferenceController as largeStates" tablename="US_State" style="padding-right:45px;">
                <label for="">State:</label>
                <select name="d_LargestLocState" ng-model="response.LargestLocationStateId" ng-options="item.TypeId as item.Name for item in largeStates.items" class="selectpicker form-control show-tick"></select>
            </div>
            <div class="form-group" style="padding-right:50px;" ng-class="{ 'has-error': companyDetailForm.d_ZipCode.$touched && companyDetailForm.d_ZipCode.$invalid }">
                <label for="">Zip Code:</label>
                <input class="form-control" id="d_LargestLocZipCode" tabindex="17" ng-maxlength="5" name="d_LargestLocZipCode" size="5" type="text" ng-model="response.LargestLocationZipCode" />
                <span class="help-block" ng-show="companyDetailForm.d_LargestLocZipCode.$dirty && companyDetailForm.d_LargestLocZipCode.$error.maxlength">This field is too large.</span>
            </div>
            <div class="form-group">
                <label for="">
                  10a. Is this a Controlled Group:
                    <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'Controlled groups are where there is common ownership of multiple companies, as defined by the IRS Section 414.'">
                        <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                    </a>
                </label>
                <div class="radio">
                  <input type="checkbox" ng-model="response.IsControlledGroup" switch-on-text="Yes" switch-off-text="No" bs-switch>
                </div>
            </div>
        </div>
        <br>

        <div class="form-inline">
            <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_NAICSMaster.$touched && companyDetailForm.d_NAICSMaster.$invalid }">
                <label for="">
                  11.NAICS Code:
                    <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'If you need help determining your NAICS code or in converting an old SIC code into the correct NAICS code, please click on the button provided.  Note: The survey only uses the primary categories which are represented by the first 2 digits of any NAICS code.'">
                        <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                    </a>
                </label>
                <span style="font-size: 13px;"> <input class="form-control bs-callout bs-callout-danger" id="d_NAICSMaster" style="width: 75px;" tabindex="20" ng-maxlength="6" name="d_NAICSMaster" type="text" ng-model="response.NAICSCode" required /> (enter all 6 characters) </span><span id="naicsLookup" style="color: #0000bc;"></span>
                <span class="help-block" ng-show="companyDetailForm.d_NAICSMaster.$touched && companyDetailForm.d_NAICSMaster.$error.required">This field is required.</span>
                <span class="help-block" ng-show="companyDetailForm.d_NAICSMaster.$dirty && companyDetailForm.d_NAICSMaster.$error.maxlength">This field is too large.</span>
            </div>
            <div class="form-group">
                <a style="cursor:pointer;" href="http://www.census.gov/eos/www/naics/" target="_blank" class="btn btn-default" aria-label="NAICS" title="NAICS">NAICS Webpage</a>
            </div>
        </div>
        <br>
        <div class="form-group" ng-controller="ReferenceController as organizationId" tablename="OrganizationType">
            <label for="">12. Type of Organization:</label>
            <select name="d_OrgType" ng-model="response.OrganizationTypeId" ng-options="item.TypeId as item.Name for item in organizationId.items" class="selectpicker form-control show-tick"></select>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">12a. Do the employees of this organization belong to a union?</label>
					          <br><br>
                    <input type="checkbox" ng-model="response.HasUnionEmployees" switch-on-text="Yes" switch-off-text="No" bs-switch>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">12b. Does this organization employ Leased/Staffed employees?</label>
                    <br><br>
                    <input type="checkbox" ng-model="response.HasLeasedStaffedEmployees" switch-on-text="Yes" switch-off-text="No" bs-switch>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="">12c. Is this an Applicable Large Employer (50 or more full-time equivalent employees)?</label>
                    <br><br>
                    <div class="radio">
                      <input type="checkbox" ng-model="response.IsApplicableLargeEmployer" switch-on-text="Yes" switch-off-text="No" bs-switch>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_Employees.$touched && companyDetailForm.d_Employees.$invalid }">
            <label for="">
              13.Total Number of Active Employees:
                <a style="cursor:pointer;" uib-popover-html="'The purpose of this Survey is to develop benchmarks based on three categories: geographic region, industry category, and number of employees. This information is required in order to attribute the data correctly in each of these categories.<br><br>For purposes of this Survey, <i>active employees</i> includes all full-time employees and all part-time employees. Seasonal employees should only be included if they are in a class which is eligible for benefits. Former employees should be included if they are covered under COBRA or if they are early (pre-Medicare-eligible) retirees and they are covered under an active-employee plan.'" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above">
                    <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                </a>
            </label>
            <input class="form-control bs-callout bs-callout-danger" id="d_Employees" tabindex="31" ng-maxlength="6" name="d_Employees" size="7" type="text" ng-model="response.ActiveEmployeesCount" required />
            <span class="help-block" ng-show="companyDetailForm.d_Employees.$touched && companyDetailForm.d_Employees.$error.required">This field is required.</span>
            <span class="help-block" ng-show="companyDetailForm.d_Employees.$dirty && companyDetailForm.d_Employees.$error.maxlength">This field is too large.</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': companyDetailForm.d_EligibleEmployees.$touched && companyDetailForm.d_EligibleEmployees.$invalid }">
            <label for="">
              14. Total Number of Active Employees Eligible for Any Group Medical Plans Offered:
                <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'This information is necessary to establish medical plan participation and waiver percentages.<br><br> For purposes of this Survey, <i>active eligible employees</i> includes all full-time employees, part-time employees, and seasonal employees who are eligible for medical benefits, as well as any former employees actually covered under COBRA or early (pre-Medicare-eligible) retiree plan.'">
                    <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                </a>
            </label>
            <input class="form-control bs-callout bs-callout-danger" id="d_EligibleEmployees" tabindex="32" ng-maxlength="6" name="d_EligibleEmployees" size="7" type="text" ng-model="response.EligibleEmployeesCount" required />
            <span class="help-block" ng-show="companyDetailForm.d_EligibleEmployees.$touched && companyDetailForm.d_EligibleEmployees.$error.required">This field is required.</span>
            <span class="help-block" ng-show="companyDetailForm.d_EligibleEmployees.$dirty && companyDetailForm.d_EligibleEmployees.$error.maxlength">This field is too large.</span>
        </div>

        <div class="form-group">
            <label for="">
              14a. Are there employees that work variable hours?
                <a style="cursor:pointer;" popover-title="Help" popover-trigger="'outsideClick'" popover-placement="above" uib-popover-html="'Employees not where number of hours is difficult to determine.'">
                    <i class="fa fa-question-circle" style="color:#225887; font-size:14pt;"></i>
                </a>
            </label>
            <input type="checkbox" ng-model="response.HasVariableHourEmployees" switch-on-text="Yes" switch-off-text="No" bs-switch>
        </div>

            <div class="form-group">
              <div ng-class="{ 'has-error': companyDetailForm.d_ZipCode.$touched && companyDetailForm.d_ZipCode.$invalid }">
                <label for="">14b. How many Part-Time, Full-Time Equivalent, and Other employees?</label><br />
                <label class="col-md-4">Part-Time:</label>
                <div class="col-md-4">
                <input style="margin-right:40px;" class="form-control bs-callout bs-callout-danger" id="d_PartTimeCount" tabindex="35" ng-maxlength="6" name="d_PartTimeCount" size="6" type="text" ng-model="response.PartTimeEmployeesCount" required />
                  <span class="help-block" ng-show="companyDetailForm.d_PartTimeCount.$touched && companyDetailForm.d_PartTimeCount.$error.required">This field is required.</span>
                  <span class="help-block" ng-show="companyDetailForm.d_PartTimeCount.$dirty && companyDetailForm.d_PartTimeCount.$error.maxlength">This field is too large.</span>
                </div>
              </div>
            </div>
            <br><br>
            <div class="form-group">
              <div ng-class="{ 'has-error': companyDetailForm.d_FullTimeCount.$touched && companyDetailForm.d_FullTimeCount.$invalid }">
                <label class="col-md-4">Full-Time Equivalent:</label>
                <div class="col-md-4">
                <input style="margin-right:40px;" class="form-control bs-callout bs-callout-danger" id="d_FullTimeCount" tabindex="36" ng-maxlength="6" name="d_FullTimeCount" size="6" type="text" ng-model="response.FullTimeEmployeeCount" required />
                  <span class="help-block" ng-show="companyDetailForm.d_FullTimeCount.$touched && companyDetailForm.d_FullTimeCount.$error.required">This field is required.</span>
                  <span class="help-block" ng-show="companyDetailForm.d_FullTimeCount.$dirty && companyDetailForm.d_FullTimeCount.$error.maxlength">This field is too large.</span>
                </div>
              </div>
            </div>
            <br><br>
            <div class="form-group">
              <div ng-class="{ 'has-error': companyDetailForm.d_EECount.$touched && companyDetailForm.d_EECount.$invalid }">
                <label class="col-md-4">Other (Contract, Lease, Seasonal):</label>
                <div class="col-md-4">
                <input class="form-control bs-callout bs-callout-danger" id="d_EECount" tabindex="37" ng-maxlength="6" name="d_EECount" size="6" type="text" ng-model="response.OtherEmployeeCount" required />
                  <span class="help-block" ng-show="companyDetailForm.d_EECount.$touched && companyDetailForm.d_EECount.$error.required">This field is required.</span>
                  <span class="help-block" ng-show="companyDetailForm.d_EECount.$dirty && companyDetailForm.d_EECount.$error.maxlength">This field is too large.</span>
                </div>
              </div>
            </div>

        <br><br>
        <div class="form-group">
            <label for="">15. Are Ancillary Products Offered?</label>
            <input type="checkbox" ng-model="response.AreAncillaryProductsOffered" switch-on-text="Yes" switch-off-text="No" bs-switch>
        </div>
    </form>
  </div>
