<div>
    ﻿﻿<div class="page-header">
        <h4>Medical Plan - General Information</h4><br>
    </div>

    <form action="">
        <div class="form-group">
            <label for="">1.Total Number of Medical Plans Offered to Active Employees</label>
            <select name="" id="" class="selectpicker form-control show-tick">
                <option value="0">Nothing Selected</option>
                <option ng-model="response.NumberActivePlansOfferedTypeId" value="1">1</option>
                <option ng-model="response.NumberActivePlansOfferedTypeId" value="2">2</option>
                <option ng-model="response.NumberActivePlansOfferedTypeId" value="3">3</option>
                <option ng-model="response.NumberActivePlansOfferedTypeId" value="4">4 or more</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">2.Medicare-Eligible Retirees</label>
            <select name="" id="" class="selectpicker form-control show-tick">
                <option ng-model="response.NumberRetireePlansOfferedTypeId" value="0">0</option>
                <option ng-model="response.NumberRetireePlansOfferedTypeId" value="1">1</option>
                <option ng-model="response.NumberRetireePlansOfferedTypeId" value="2">2</option>
                <option ng-model="response.NumberRetireePlansOfferedTypeId" value="3">3 or more</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">
			<a title="Help" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="ER means employer. EE means employee.">
				3. Premium Contribution Strategy (for companies offering multiple plans)
			</a></label>
            <select name="" id="" class="selectpicker form-control show-tick">
                <option value="0">Nothing Selected</option>
                <option ng-model="response.PremiumContributionStrategyTypeId" value="1">ER pays same dollar amount for each plan</option>
                <option ng-model="response.PremiumContributionStrategyTypeId" value="2">ER pays same percentage amount for each plan</option>
                <option ng-model="response.PremiumContributionStrategyTypeId" value="3">EE pays same dollar amount for each plan</option>
                <option ng-model="response.PremiumContributionStrategyTypeId" value="4">EE pays same percentage amount for each plan</option>
                <option ng-model="response.PremiumContributionStrategyTypeId" value="5">EE pays all added costs for buy-up options</option>
                <option ng-model="response.PremiumContributionStrategyTypeId" value="6">Other</option>
                <option ng-model="response.PremiumContributionStrategyTypeId" value="7">No Defined Strategy</option>
            </select>
        </div>
        <div class="form-group">
			<a title="Help" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="The minimum number of hours per week required for an employee to be considered a full-time employee.  If your company's definition of full-time eligibility is based on a period other than per week, please convert the number of hours to a per week equivalent.<br /><br />For example, if the company's definition of full-time eligibility is '80 hours within a two-week period', please select '40 hours per week'.">
				4. Minimum Number of Hours per Week for Full-Time Eligibility <br /> (For Plans with differing requirements for two or more classes of employees, select the value that applies to the largest number of employees.)
			</a></label>
            <select ng-model="response.FullTimeHoursPerWeekTypeId" ng-options="x for (x,y) in FullTimeHoursPerWeekType" class="selectpicker form-control show-tick"></select>
        </div>
        <div class="form-group">
			<a title="Help" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="The period of time between the date hired and the earliest date coverage under the medical plan can begin.">
				5. Eligibility Waiting Period for Full-Time Employees: <br /> (For Plans with differing requirements for two or more classes of employees, select the value that applies to the largest number of employees.)
			</a></label>
            <select ng-model="response.EligibleWaitingPeriodTypeId" ng-options="x for (x,y) in EligibleWaitingPeriodType" class="selectpicker form-control show-tick"></select>
        </div>
        <div class="form-group">
            <label for="">6. Provide Bonus for Waiving or Opting Out of Health Plan Coverage?</label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="response.HasOptOutBonus" value="1">Yes
                </label>
                <label>
                    <input type="radio" ng-model="response.HasOptOutBonus" value="0">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="">
			<a title="Help" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Please note that the question requests an ANNUAL amount, not a monthly or per-pay amount.">
				7. If yes, how much per year? (round to nearest dollar)
			</a></label>
            <label for="">Single</label>
            <input id="d_OptOutBonus_Single" tabindex="20" maxlength="6" name="d_OptOutBonus_Single" size="13" type="text" ng-model="response.OptOutBonusAmt_Single" class="form-control">
            <label for="">Family</label>
            <input id="d_OptOutBonus_Family" tabindex="21" maxlength="6" name="d_OptOutBonus_Family" size="13" type="text" ng-model="response.OptOutBonusAmt_Family" class="form-control">
        </div>
        <div class="form-group">
            <label for="">8. Offer Domestic Partner Coverage?</label>
            <select name="" id="" class="selectpicker form-control show-tick">
                <option value="0">Nothing Selected</option>
                <option ng-model="response.DomesticPartnerCoverageTypeId" value="1">No</option>
                <option ng-model="response.DomesticPartnerCoverageTypeId" value="2">Yes, Opposite Sex Only</option>
                <option ng-model="response.DomesticPartnerCoverageTypeId" value="3">Yes, Same Sex Only</option>
                <option ng-model="response.DomesticPartnerCoverageTypeId" value="4">Yes, Both Same Sex and Opposite Sex</option>
            </select>
        </div>
    </form>

</div>
