<div>

    <div class="page-header">
        <h4>Medical Plan - {{activePlan.PlanName}} (Active Employees)</h4><br>
    </div>

    <form action="">
        <div class="form-group">
            <label for="">Do you wish to enter information on this plan?</label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="activePlan.EnterPlanData" value="1">Yes
                </label>
                <label for="">
                    <input type="radio" ng-model="activePlan.EnterPlanData" value="0">No
                </label>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="">1.Plan Name Or Number</label>
            <input id="d_PlanNameOrNo" class="form-control" tabindex="1" name="d_PlanNameOrNo" type="text" ng-model="activePlan.PlanName" />
        </div>
        <div class="form-group">
            <label for="">2.Type of Plan</label>
            <select name="" id="" class="form-control">
                <option value="1" ng-model="activePlan.ActivePlanTypeId">EPO (Exclusive Provider Organization)</option>
                <option value="2" ng-model="activePlan.ActivePlanTypeId">FFS (Fee-for-Service/Indemnity)</option>
                <option value="3" ng-model="activePlan.ActivePlanTypeId">HMO (Health Maintenance Organization)</option>
                <option value="4" ng-model="activePlan.ActivePlanTypeId">POS (Point-of-Service)</option>
                <option value="5" ng-model="activePlan.ActivePlanTypeId">PPO (Preferred Provider Organization)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">3.Is this a grandfathered plan?</label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="activePlan.IsPlanGrandfathered" value="1">Yes
                </label>
                <label for="">
                    <input type="radio" ng-model="activePlan.IsPlanGrandfathered" value="0">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="">4.Is this a grandmothered plan (pre-PPACA plan allowed by your state)?</label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="activePlan.IsPlanGrandmothered" value="1">Yes
                </label>
                <label>
                    <input type="radio" ng-model="activePlan.IsPlanGrandmothered" value="0">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="">5. Does this Plan Include:</label>
            <select name="" id="" class="form-control">
                <option value="1" id="d_HRAIncluded" tabindex="10" name="d_HRAIncluded" ng-model="activePlan.IsHRAIncluded">HRA (Health Reimbursement Arrangement)</option>
                <option value="1" id="d_HRAIncluded" tabindex="10" name="d_HRAIncluded" ng-model="activePlan.IsHRAIncluded">HSA (Health Savings Account)</option>
                <option value="1" id="d_HRAIncluded" tabindex="10" name="d_HRAIncluded" ng-model="activePlan.IsHRAIncluded">MERP (Medical Expense Reimbursement Plan)</option>
                <option value="1" id="d_HRAIncluded" tabindex="10" name="d_HRAIncluded" ng-model="activePlan.IsHRAIncluded">None of the Above</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">6.Funding Method</label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="activePlan.FundingMethodTypeId" value="1">Fully Insured
                </label>
                <label for="">
                    <input type="radio" ng-model="activePlan.FundingMethodTypeId" value="2">Self-Funded
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="">7. Please indicate the Number of Health Plan Premium Tiers</label>
            <select name="" id="" class="form-control">
                <option value="1" ng-model="activePlan.PremiumTierTypeId">2 (Single &amp; Family)</option>
                <option value="2" ng-model="activePlan.PremiumTierTypeId">3 (Single, Employee + 1, Employee + 2 or more)</option>
                <option value="3" ng-model="activePlan.PremiumTierTypeId">4 (Single, Employee + Child/Children, Employee + Spouse, Family)</option>
                <option value="4" ng-model="activePlan.PremiumTierTypeId">5 or More</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">8.Are the Unit Rates for this Plan based on Each Individual Employee's Age/Age Band or "Composite" Rates (i.e. the same for everyone in each tier of the plan regardless of age)?</label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="activePlan.UnitRateTypeId" value="1">Employee Age Banded Rated
                </label>
                <label for="">
                    <input type="radio" ng-model="activePlan.UnitRateTypeId" value="2">Member Level Age Rated
                </label>
                <label for="">
                    <input type="radio" ng-model="activePlan.UnitRateTypeId" value="3">Composite
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="">9. Indicate the number of Employees Enrolled in each applicable coverage tier and the Individual Premium Rate per Month (including Prescription Drugs) rounded to the nearest dollar. </label>
            <div class="row">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4">
                    <label for="">Number Enrolled</label>
                </div>
                <div class="col-md-4">
                    <label for="">Monthly Premium Rate</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Single</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="d_Enrolled_Single" name="d_Enrolled_Single" maxlength="6" size="13" ng-model="activePlan.NumberEnrolled_Single">
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_Premium_Single" class="form-control" maxlength="6" name="d_Premium_Single" size="13" type="text" ng-model="activePlan.MonthlyPremiumAmt_Single">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Employee+1</label>
                </div>
                <div class="col-md-4">
                    <input id="d_Enrolled_EE_1" class="form-control" maxlength="6" name="d_Enrolled_EE_1" size="13" type="text" ng-model="activePlan.NumberEnrolled_EmployeePlusOne">
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_Premium_EE_1" class="form-control" maxlength="6" name="d_Premium_EE_1" size="13" type="text" ng-model="activePlan.MonthlyPremiumAmt_EmployeePlusOne" />
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Employee + Spouse</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="d_Enrolled_EE_SP" name="d_Enrolled_EE_SP" maxlength="6" size="13" ng-model="activePlan.NumberEnrolled_EmployeePlusSpouse">
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="d_Premium_EE_SP" name="d_Premium_EE_SP" maxlength="6" size="13" ng-model="activePlan.MonthlyPremiumAmt_EmployeePlusSpouse">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Employee + Child/Children</label>
                </div>
                <div class="col-md-4">
                    <input id="d_Enrolled_EE_CH" class="form-control" maxlength="6" name="d_Enrolled_EE_CH" size="13" type="text" ng-model="activePlan.NumberEnrolled_EmployeePlusChild" />
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_Premium_EE_CH" class="form-control" maxlength="6" name="d_Premium_EE_CH" size="13" type="text" ng-model="activePlan.MonthlyPremiumAmt_EmployeePlusChild" />
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Family</label>
                </div>
                <div class="col-md-4">
                    <input id="d_Enrolled_Family" class="form-control" maxlength="6" name="d_Enrolled_Family" size="13" type="text" ng-model="activePlan.NumberEnrolled_Family" />
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_Premium_Family" class="form-control" maxlength="6" name="d_Premium_Family" size="13" type="text" ng-model="activePlan.MonthlyPremiumAmt_Family" />
                    </div>
                </div>
            </div>
            <span id="helpBlock" class="help-block">
                For Self-Funded Plans, use COBRA Premium Equivalent Rate minus the 2%, if otherwise included
            </span>
        </div>
        <div class="form-group">
            <label for="">
                10. Tobacco surcharge from carrier?
            </label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="activePlan.HasTobaccoSurcharge" value="1">Yes
                </label>
                <label for="">
                    <input type="radio" ng-model="activePlan.HasTobaccoSurcharge" value="0">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="">
                11. Are Employee Contributions Based on a Percentage of Salary?
            </label>
            <div class="radio">
                <label for="">
                    <input type="radio" ng-model="activePlan.AreContributionsBasedOnPercentageOfSalary" value="1">Yes
                </label>
                <label for="">
                    <input type="radio" ng-model="activePlan.AreContributionsBasedOnPercentageOfSalary" value="0">No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="">
                12. Are Employee Contributions to be entered based on
            </label>
            <select name="" id="" class="form-control">
                <option value="1" ng-model="activePlan.ContributionBasisTypeId">Dollar Amount</option>
                <option value="2" ng-model="activePlan.ContributionBasisTypeId">Percentage of Premium</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">
                13. Employee Contributions per Month | <a href="Portals/0/UBAContributionCalculator.xls" target="_blank">Calculator</a>
            </label>
            <div class="row">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4">
                    <label for="">Dollar Amount</label>
                </div>
                <div class="col-md-4">
                    <label for="">Percentage of Premium</label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Single</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_EmpCont_Single_Amt" class="form-control" maxlength="6" name="d_EmpCont_Single_Amt" size="13" type="text" ng-model="activePlan.EmployeeContributionAmt_Single" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="d_EmpCont_Single_PcntOfPremium" class="form-control" maxlength="6" name="d_EmpCont_Single_PcntOfPremium" size="11" type="text" ng-model="activePlan.EmployeeContributionPctOfPremium_Single" />
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Employee +1</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_EmpCont_EE_1_Amt" class="form-control" maxlength="6" name="d_EmpCont_EE_1_Amt" size="13" type="text" ng-model="activePlan.EmployeeContributionAmt_EmployeePlusOne" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="d_EmpCont_EE_1_PcntOfPremium" class="form-control" maxlength="6" name="d_EmpCont_EE_1_PcntOfPremium" size="11" type="text" ng-model="activePlan.EmployeeContributionPctOfPremium_EmployeePlusOne" />
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Employee + Spouse</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_EmpCont_EE_SP_Amt" class="form-control" maxlength="6" name="d_EmpCont_EE_SP_Amt" size="13" type="text" ng-model="activePlan.EmployeeContributionAmt_EmployeePlusSpouse" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="d_EmpCont_EE_SP_PcntOfPremium" class="form-control" maxlength="6" name="d_EmpCont_EE_SP_PcntOfPremium" size="11" type="text" ng-model="activePlan.EmployeeContributionPctOfPremium_EmployeePlusSpouse" />
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Employee + Child/Children</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_EmpCont_EE_CH_Amt" class="form-control" maxlength="6" name="d_EmpCont_EE_CH_Amt" size="13" type="text" ng-model="activePlan.EmployeeContributionAmt_EmployeePlusChild" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="d_EmpCont_EE_CH_PcntOfPremium" class="form-control" maxlength="6" name="d_EmpCont_EE_CH_PcntOfPremium" size="11" type="text" ng-model="activePlan.EmployeeContributionPctOfPremium_EmployeePlusChild" />
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Family</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_EmpCont_Family_Amt" class="form-control" maxlength="6" name="d_EmpCont_Family_Amt" size="13" type="text" ng-model="activePlan.EmployeeContributionAmt_Family" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="d_EmpCont_Family_PcntOfPremium" class="form-control" maxlength="6" name="d_EmpCont_Family_PcntOfPremium" size="11" type="text" value=ng-model ="activePlan.EmployeeContributionPctOfPremium_Family" />
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">15. Amount of Annual Employer HRA or HSA Contribution</label>
            <div class="row">
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-4">
                    <label for="">HRA</label>
                </div>
                <div class="col-md-4">
                    <label for="">HSA</label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Single</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Employee + 1</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Employee + Spouse</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Employee + Child/Children</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Family</p>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
        <div class="form-group"><label for=""></label></div>
    </form>

    <p>&nbsp;&nbsp;</p>
    <p><input id="SurveySection" name="CurrSurveySection" type="hidden" value="ActivePlans" /> <input id="SurveySectionPage" name="CurrSurveySectionPage" type="hidden" value="4" /> <input id="SurveySectionPlanNo" name="CurrSurveySectionPlanNo" type="hidden" value="[|@PlanNo,Variable]" /></p>

</div>
