<div>
    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <h4>Prescription Drug Plan - {{activePlan.PlanName}}</h4>
            </div>
            <div class="col-md-3" align="right">
                <h4>ResponseId: {{survey.GeneralResponse.ResponseId}}</h4>
            </div>
        </div>
    </div>

    <form action="">
        <div class="form-group">
            <label for="">34. Does This Plan Provide Any Form of Prescription Drug Coverage?</label>
            <div class="radio">
              <input type="checkbox" ng-model="rxPlan.RxPlan.FundingMethodTypeId" data-on-text="Yes" data-off-text="No" bs-switch>
            </div>
        </div>
        <div class="form-group">
            <label for="">
			<a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">
				35. Funding Method
			</a></label>
            <div class="radio">
              <input type="checkbox" ng-model="rxPlan.RxPlan.FundingMethodTypeId" data-on-text="Yes" data-off-text="No" bs-switch>
            </div>
        </div>
        <div class="form-group">
            <label for="">
			<a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">
				36. Are Prescription Drugs Covered under Major Medical Deductible and Co-insurance (i.e. No Separate Prescription Drug Card Plans)?
			</a></label>
            <div class="radio">
              <input type="checkbox" ng-model="rxPlan.RxPlan.IsCoveredUnderMajorMedical" data-on-text="Yes" data-off-text="No" bs-switch>
            </div>
        </div>
        <div class="form-group">
            <label for="">37. Does Rx copay/co-insurance apply after Major Medical Deductible has been met?</label>
            <div class="radio">
              <input type="checkbox" ng-model="rxPlan.RxPlan.DoesCoPay_CoinsApplyAfterMajorMedicalDeductible" data-on-text="Yes" data-off-text="No" bs-switch>
            </div>
        </div>
        <div class="form-group">
            <label for="">
			<a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">
				38. Is a Separate Annual Deductible Applied to Prescription Drugs Only?
			</a></label>
            <div class="radio">
              <input type="checkbox" ng-model="rxPlan.RxPlan.HasSeparateAnnualDeductibleApplied" data-on-text="Yes" data-off-text="No" bs-switch>
            </div>
        </div>
        <div class="form-group">
            <label for="">39. Does the Separate Rx Deductible Apply For Generic Drugs?</label>
            <div class="radio">
              <input type="checkbox" ng-model="rxPlan.RxPlan.DoesSeparateAnnualDeductibleApplyForGeneric" data-on-text="Yes" data-off-text="No" bs-switch>
            </div>
        </div>
        <div class="form-group">
            <label for="">
			<a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">
				40. What is the Separate Annual Prescription Drug Deductible Amount?
			</a></label>
						<div class="row">
							<div class="col-md-3">
								<p>Single
							</div>
							<div class="col-md-3">
								<div class="input-group">
								  <span class="input-group-addon">$</span>
								  <input class="form-control" id="d_Rx_Deductible_Single" tabindex="11" maxlength="6" name="d_Rx_Deductible_Single" size="13" type="text" ng-model="rxPlan.RxPlan.SeparateAnnualDeductibleAmt_Single" />
								</div>
							</div>
							<div class="col-md-3">
								<input id="d_Rx_Deductible_FamilyOnly" tabindex="12" checked="checked" name="d_Rx_Deductible_FamilyOnly" type="checkbox" value="1" ng-model="rxPlan.RxPlan.HasSeparateAnnualDeductibleAmt_FamilyOnly" /> Family Only
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-3">
								<p>Family</p>
							</div>
							<div class="col-md-3">
								<div class="input-group">
								  <span class="input-group-addon">$</span>
									<input class="form-control" id="d_Rx_Deductible_Family" tabindex="13" maxlength="6" name="d_Rx_Deductible_Family" size="13" type="text" ng-model="rxPlan.RxPlan.SeparateAnnualDeductibleAmt_Family" />
								</div>
							</div>
							<div class="col-md-3">
								<input id="d_Rx_Deductible_xEE" tabindex="14" checked="checked" name="d_Rx_Deductible_xEE" type="checkbox" value="1" ng-model="rxPlan.RxPlan.HasSeparateAnnualDeductibleAmt_xEE" /> xEE
							</div>
						</div>
        </div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" ng-controller="ReferenceController as coPayCoinsuranceStructure" tablename="CoPayCoinsuranceStructureType">
							<label for="">41. Does your Prescription Drug Plan have</label>
							<br><br>
              <select ng-model="rxPlan.RxPlan.CoPayCoinsuranceStructureTypeId" ng-options="item.TypeId as item.Name for item in coPayCoinsuranceStructure.items" class="selectpicker form-control show-tick"></select>
						</div>
					</div>
        </div>
        <div class="row">
					<div class="col-md-12">
						<div class="form-group" ng-controller="ReferenceController as rxPlanTierCount" tablename="RxPlanTierCountType">
							<label for="">
							<a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">
								42. Please indicate the Number of Separate Prescription Drug CoPay and/or Co-insurance Tiers
							</a></label>
              <select ng-model="rxPlan.RxPlan.RxPlanTierCountTypeId" ng-options="item.TypeId as item.Name for item in rxPlanTierCount.items" class="selectpicker form-control show-tick"></select>
						</div>
					</div>
				</div>
        <div class="form-group">
					<label for="">43. Retail Plan Design</label>
					<span id="HelpBlock" class="help-block">If any category is not applicable, please check the "None" box.</span>
					<div class="row">
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-2">
							<p class="text-center">Rx Type</p>
						</div>
						<div class="col-md-2">
							<p class="text-center">Employee Copay</p>
						</div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-2">
							<p class="text-center">Employee Co-insurance</p>
						</div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-2">
							<p class="text-center">Max</p>
						</div>
					</div>
					<div class="row" ng-hide="rxPlan.RxPlan.RxPlanTierCountTypeId < 1">
						<div class="col-md-1">
							<p><a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">Tier One</a></p>
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as rxPlanType1" tablename="RxType">
              <select ng-model="rxPlan.PlanTiers[0].RxPlanTypeId" ng-options="item.TypeId as item.Name for item in rxPlanType1.items" class="selectpicker form-control show-tick"></select>
			        </select>
						</div>
						<div class="col-md-2">
							<div class="input-group">
							  <span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier1Copay" tabindex="2" maxlength="6" name="d_Tier1Copay" size="13" type="text" ng-model="rxPlan.PlanTiers[0].EmployeeCopayAmt" />
							</div>
						</div>
						<div class="col-md-1">
							<input id="d_Tier1CopayNone" tabindex="3" checked="checked" name="d_Tier1CopayNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[0].HasEmployeeCopay" /> None
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as employeeCoinsurancePct0" tablename="EmployeeCoinsurancePctType">
              <select ng-model="rxPlan.PlanTiers[0].EmployeeCoinsurancePctTypeId" ng-options="item.TypeId as item.Name for item in employeeCoinsurancePct0.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-1">
							<input id="d_Tier1CoinsuranceNone" tabindex="5" checked="checked" name="d_Tier1CoinsuranceNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[0].HasEmployeeCoinsurance" /> None
						</div>
						<div class="col-md-2">
							<div class="input-group">
							  <span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier1CoinsuranceMax" tabindex="6" maxlength="6" name="d_Tier1CoinsuranceMax" size="7" type="text" ng-model="rxPlan.PlanTiers[0].MaxCoinsuranceAmt" />
							</div>
						</div>
					</div>
					<hr>
					<div class="row" ng-hide="rxPlan.RxPlan.RxPlanTierCountTypeId < 2">
						<div class="col-md-1">
							<p><a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">Tier Two</a></p>
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as rxPlanType2" tablename="RxType">
              <select ng-model="rxPlan.PlanTiers[1].RxPlanTypeId" ng-options="item.TypeId as item.Name for item in rxPlanType2.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-2">
							<div class="input-group">
							  <span class="input-group-addon">$</span>
							  <input class="form-control" id="d_Tier2Copay" tabindex="8" maxlength="6" name="d_Tier2Copay" size="13" type="text" ng-model="rxPlan.PlanTiers[1].EmployeeCopayAmt" />
							</div>
						</div>
						<div class="col-md-1">
							<input id="d_Tier2CopayNone" tabindex="9" checked="checked" name="d_Tier2CopayNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[1].HasEmployeeCopay" /> None
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as employeeCoinsurancePct1" tablename="EmployeeCoinsurancePctType">
              <select ng-model="rxPlan.PlanTiers[1].EmployeeCoinsurancePctTypeId" ng-options="item.TypeId as item.Name for item in employeeCoinsurancePct1.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-1">
							<input id="d_Tier2CoinsuranceNone" tabindex="11" checked="checked" name="d_Tier2CoinsuranceNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[1].HasEmployeeCoinsurance" /> None
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier2CoinsuranceMax" tabindex="12" maxlength="6" name="d_Tier2CoinsuranceMax" size="7" type="text" ng-model="rxPlan.PlanTiers[1].MaxCoinsuranceAmt" />
							</div>
						</div>
					</div>
					<hr>
					<div class="row" ng-hide="rxPlan.RxPlan.RxPlanTierCountTypeId < 3">
						<div class="col-md-1">
							<p><a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">Tier Three</a></p>
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as rxPlanType3" tablename="RxType">
              <select ng-model="rxPlan.PlanTiers[2].RxPlanTypeId" ng-options="item.TypeId as item.Name for item in rxPlanType3.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier3Copay" tabindex="14" maxlength="6" name="d_Tier3Copay" size="13" type="text" ng-model="rxPlan.PlanTiers[2].EmployeeCopayAmt" />
							</div>
						</div>
						<div class="col-md-1">
							<input id="d_Tier3CopayNone" tabindex="15" checked="checked" name="d_Tier3CopayNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[2].HasEmployeeCopay" /> None
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as employeeCoinsurancePct2" tablename="EmployeeCoinsurancePctType">
              <select ng-model="rxPlan.PlanTiers[2].EmployeeCoinsurancePctTypeId" ng-options="item.TypeId as item.Name for item in employeeCoinsurancePct2.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-1">
							<input id="d_Tier3CoinsuranceNone" tabindex="17" checked="checked" name="d_Tier3CoinsuranceNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[2].HasEmployeeCoinsurance" /> None
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier3CoinsuranceMax" tabindex="18" maxlength="6" name="d_Tier3CoinsuranceMax" size="7" type="text" ng-model="rxPlan.PlanTiers[2].MaxCoinsuranceAmt" />
							</div>
						</div>
					</div>
					<hr>
					<div class="row" ng-hide="rxPlan.RxPlan.RxPlanTierCountTypeId < 4">
						<div class="col-md-1">
							<p><a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">Tier Four</a></p>
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as rxPlanType4" tablename="RxType">
              <select ng-model="rxPlan.PlanTiers[3].RxPlanTypeId" ng-options="item.TypeId as item.Name for item in rxPlanType4.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier4Copay" tabindex="20" maxlength="6" name="d_Tier4Copay" size="13" type="text" ng-model="rxPlan.PlanTiers[3].EmployeeCopayAmt" />
							</div>
						</div>
						<div class="col-md-1">
							<input id="d_Tier4CopayNone" tabindex="21" checked="checked" name="d_Tier4CopayNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[3].HasEmployeeCopay" /> None
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as employeeCoinsurancePct3" tablename="EmployeeCoinsurancePctType">
              <select ng-model="rxPlan.PlanTiers[3].EmployeeCoinsurancePctTypeId" ng-options="item.TypeId as item.Name for item in employeeCoinsurancePct3.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-1">
							<input id="d_Tier4CoinsuranceNone" tabindex="23" checked="checked" name="d_Tier4CoinsuranceNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[3].HasEmployeeCoinsurance" /> None
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier4CoinsuranceMax" tabindex="24" maxlength="6" name="d_Tier4CoinsuranceMax" size="7" type="text" ng-model="rxPlan.PlanTiers[3].MaxCoinsuranceAmt" />
							</div>
						</div>
					</div>
					<hr>
					<div class="row" ng-hide="rxPlan.RxPlan.RxPlanTierCountTypeId < 5">
						<div class="col-md-1">
							<p><a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">Tier Five</a></p>
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as rxPlanType5" tablename="RxType">
              <select ng-model="rxPlan.PlanTiers[4].RxPlanTypeId" ng-options="item.TypeId as item.Name for item in rxPlanType5.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-2">
							<div class="input-group">
							  <span class="input-group-addon">$</span>
							  <input class="form-control" id="d_Tier5Copay" tabindex="26" maxlength="6" name="d_Tier5Copay" size="13" type="text" ng-model="rxPlan.PlanTiers[4].EmployeeCopayAmt" />
							</div>
						</div>
						<div class="col-md-1">
							<input id="d_Tier5CopayNone" tabindex="27" checked="checked" name="d_Tier5CopayNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[4].HasEmployeeCopay" /> None
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as employeeCoinsurancePct4" tablename="EmployeeCoinsurancePctType">
              <select ng-model="rxPlan.PlanTiers[4].EmployeeCoinsurancePctTypeId" ng-options="item.TypeId as item.Name for item in employeeCoinsurancePct4.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-1">
							<input id="d_Tier5CoinsuranceNone" tabindex="29" checked="checked" name="d_Tier5CoinsuranceNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[4].HasEmployeeCoinsurance" /> None
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier5CoinsuranceMax" tabindex="30" maxlength="6" name="d_Tier5CoinsuranceMax" size="7" type="text" ng-model="rxPlan.PlanTiers[4].MaxCoinsuranceAmt" />
							</div>
						</div>
					</div>
					<hr>
					<div class="row" ng-hide="rxPlan.RxPlan.RxPlanTierCountTypeId < 6">
						<div class="col-md-1">
							<p><a popover-title="Help" popover-trigger="'mouseenter'" popover-placement="above" uib-popover="">Tier Six</a></p>
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as rxPlanType6" tablename="RxType">
              <select ng-model="rxPlan.PlanTiers[5].RxPlanTypeId" ng-options="item.TypeId as item.Name for item in rxPlanType6.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier6Copay" tabindex="32" maxlength="6" name="d_Tier6Copay" size="13" type="text" ng-model="rxPlan.PlanTiers[5].EmployeeCopayAmt" />
							</div>
						</div>
						<div class="col-md-1">
							<input id="d_Tier6CopayNone" tabindex="33" checked="checked" name="d_Tier6CopayNone" type="checkbox" value="1" ng-model="rxPlan.PlanTiers[5].HasEmployeeCopay" /> None
						</div>
						<div class="col-md-2" ng-controller="ReferenceController as employeeCoinsurancePct5" tablename="EmployeeCoinsurancePctType">
              <select ng-model="rxPlan.PlanTiers[5].EmployeeCoinsurancePctTypeId" ng-options="item.TypeId as item.Name for item in employeeCoinsurancePct5.items" class="selectpicker form-control show-tick"></select>
						</div>
						<div class="col-md-1">
							<input id="d_Tier6CoinsuranceNone" tabindex="35" checked="checked" name="d_Tier6CoinsuranceNone" type="checkbox" value="1" ng-model="survey.ActivePlans[5].rxPlan.RxPlan.PlanTiers[5].HasEmployeeCoinsurance" /> None
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input class="form-control" id="d_Tier6CoinsuranceMax" tabindex="36" maxlength="6" name="d_Tier6CoinsuranceMax" size="7" type="text" ng-model="rxPlan.PlanTiers[0].MaxCoinsuranceAmt" />
							</div>
						</div>
					</div>
				</div>
    </form>
