<div>
    <div class="page-header">
        <h4>Section 125 (FSA) Plan</h4><br>
    </div>

    <form action="">
        <!-- Q1 Does Your Organization Offer? -->
        <div class="form-group">
            <label for="">1. Does Your Organization Offer?</label>
            <div class="checkbox">
                <label for="d_FSA_Offered_PremiumOnlyPlan">
                    <input id="d_FSA_Offered_PremiumOnlyPlan" tabindex="1" checked="checked" name="d_FSA_Offered_PremiumOnlyPlan" type="checkbox" value="1" ng-model="section.Offers_FSA_PremiumOnlyPlan">Premium-Only Plan
                </label>
            </div>
            <div class="checkbox">
                <label for="d_FSA_Offered_TraditionalMedical">
                    <input id="d_FSA_Offered_TraditionalMedical" tabindex="2" checked="checked" name="d_FSA_Offered_TraditionalMedical" type="checkbox" value="1" ng-model="section.Offers_FSA_TraditionalMedical">Traditional Medical FSA
                </label>
            </div>
            <div class="checkbox">
                <label for="d_FSA_Offered_LimitedPurposeMedical">
                    <input id="d_FSA_Offered_LimitedPurposeMedical" tabindex="3" checked="checked" name="d_FSA_Offered_LimitedPurposeMedical" type="checkbox" value="1" ng-model="section.Offers_FSA_LimitedPurposeMedical">Limited Purpose Medical FSA (only if paired with an HSA)
                </label>
            </div>
            <div class="checkbox">
                <label for="d_FSA_Offered_DependentCare">
                    <input id="d_FSA_Offered_DependentCare" tabindex="4" checked="checked" name="d_FSA_Offered_DependentCare" type="checkbox" value="1" ng-model="section.Offers_FSA_DependentCare">Dependent Care FSA
                </label>
            </div>
            <div class="checkbox">
                <label for="d_FSA_Offered_NoneOfTheAbove">
                    <input id="d_FSA_Offered_NoneOfTheAbove" tabindex="5" checked="checked" name="d_FSA_Offered_NoneOfTheAbove" type="checkbox" value="1" ng-model="section.Offers_FSA_NoneOfTheAbove">None of the Above
                </label>
            </div>
        </div>
        <!--  Q2 Traditional Medical FSA Plan -->
        <div class="form-group">
            <label for="">2. Traditional Medical FSA Plan</label>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Maximum Annual Contribution Allowed</p>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_FSA_Med_MaxAnnualContribution" tabindex="6" maxlength="6" name="d_FSA_Med_MaxAnnualContribution" size="8" type="text" ng-model="section.MaxAnnualContribution_TraditionalMedical_FSA" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Number of Employees Enrolled</p>
                </div>
                <div class="col-md-7">
                    <input id="d_FSA_Med_EmployeesEnrolled" tabindex="7" maxlength="6" name="d_FSA_Med_EmployeesEnrolled" size="8" type="text" ng-model="section.EmployeesEnrolledCount_TraditionalMedical_FSA" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Average Annual Contribution</p>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_FSA_Med_AvgAnnualContribution" tabindex="8" maxlength="6" name="d_FSA_Med_AvgAnnualContribution" size="8" type="text" ng-model="section.AvgAnnualContribution_TraditionalMedical_FSA" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="">3. Limited Purpose Medical FSA (only if paired with an HSA)</label>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Maximum Annual Contribution Allowed</p>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_FSA_LimMed_MaxAnnualContribution" tabindex="9" maxlength="6" name="d_FSA_LimMed_MaxAnnualContribution" size="8" type="text" ng-model="section.MaxAnnualContribution_LtdPurposeMedical_FSA" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Number of Employees Enrolled</p>
                </div>
                <div class="col-md-7">
                    <input id="d_FSA_LimMed_EmployeesEnrolled" tabindex="10" maxlength="6" name="d_FSA_LimMed_EmployeesEnrolled" size="8" type="text" ng-model="section.EmployeesEnrolledCount_LtdPurposeMedical_FSA" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Average Annual Contribution</p>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_FSA_LimMed_AvgAnnualContribution" tabindex="11" maxlength="6" name="d_FSA_LimMed_AvgAnnualContribution" size="8" type="text" ng-model="section.AvgAnnualContribution_LtdPurposeMedical_FSA" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="">4. Dependent Care FSA Plan</label>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Maximum Annual Contribution Allowed</p>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_FSA_ChildCare_MaxAnnualContribution" tabindex="12" maxlength="6" name="d_FSA_ChildCare_MaxAnnualContribution" size="8" type="text" ng-model="section.MaxAnnualContribution_DependentCare_FSA" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Number of Employees Enrolled</p>
                </div>
                <div class="col-md-7">
                    <input id="d_FSA_ChildCare_EmployeesEnrolled" tabindex="13" maxlength="6" name="d_FSA_ChildCare_EmployeesEnrolled" size="8" type="text" ng-model="section.EmployeesEnrolledCount_DependentCare_FSA" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p>Average Annual Contribution</p>
                </div>
                <div class="col-md-7">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input id="d_FSA_ChildCare_AvgAnnualContribution" tabindex="14" maxlength="6" name="d_FSA_ChildCare_AvgAnnualContribution" size="8" type="text" ng-model="section.AvgAnnualContribution_DependentCare_FSA" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="well">
                <p>
                    Metropolitan Area, State and Regional Benchmarks will be prepared wherever the sample size is adequate to ensure the confidentiality of individual companies.
                    If you would like to receive area benchmarks (if available), please indicate your preferred method of delivery below.
                </p>
            </div>
            <label for="">I would prefer to be presented any Applicable Metropolitan Area, State or Regional Results Via:</label>
            <select class="form-control">
                <option id="d_PresentationInterest_0" tabindex="15" name="d_PresentationInterest" value="1" ng-model="survey.GeneralResponse.PresentationInterestTypeId">
                    A Seminar Highlighting Aggregate Results for All Area Survey Participants
                </option>
                <option id="d_PresentationInterest_1" tabindex="16" name="d_PresentationInterest" value="2" ng-model="survey.GeneralResponse.PresentationInterestTypeId">
                    An Individual Meeting to Directly Compare my Organization's Plans with Area Benchmarks
                </option>
                <option id="d_PresentationInterest_2" tabindex="17" name="d_PresentationInterest" value="3" ng-model="survey.GeneralResponse.PresentationInterestTypeId">
                    Both
                </option>
                <option id="d_PresentationInterest_3" tabindex="18" name="d_PresentationInterest" value="4" ng-model="survey.GeneralResponse.PresentationInterestTypeId">
                    Neither/No Interest in Area Benchmarks
                </option>
            </select>
        </div>

    </form>

    <p>&nbsp;</p>
    <p>
        <input id="d_HSAIncluded" name="d_HSAIncluded" type="hidden" ng-model="section.MonthlyEmployerContribAmt_Family" />
        <input id="SurveySection" name="CurrSurveySection" type="hidden" ng-model="section.MonthlyEmployerContribAmt_Family" />
        <input id="SurveySectionPage" name="CurrSurveySectionPage" type="hidden" value="3" ng-model="section.MonthlyEmployerContribAmt_Family" /> [|NavigationFooter,Action]
    </p>

</div>
