.LiveForm.Default {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: normal;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    background-color: #ffffff;
}

    .LiveForm.Default td,
    .LiveForm.Default th,
    .LiveForm.Default table,
    .LiveForm.Default .Field input,
    .LiveForm.Default .Field select,
    .LiveForm.Default .Field textarea,
    .LiveForm.Default .Field button {
        font-family: Arial,Helvetica,sans-serif;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .LiveForm.Default ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .LiveForm.Default ul li {
        list-style: none;
        margin: 0;
    }

    .LiveForm.Default .Field-Container {
        position: relative;
    }

    .LiveForm.Default .MatrixWrapper .Field-Container {
        position: static;
    }

.viewport-sm .LiveForm.Default .Field.Fullname .Field-Container input[type="text"] {
    margin-right: 16px;
}

.LiveForm.Default .Field.Address table tr td:first-child {
    padding-right: 16px;
}

.LiveForm.Default .Field.Address table tr:nth-child(1) td,
.LiveForm.Default .Field.Address table tr:nth-child(2) td {
    padding-right: 0;
}

.LiveForm.Default .Field.Fullname .fullname-container,
.LiveForm.Default .Field.ScaleRating input[type="radio"],
.LiveForm.Default .Field.Fullname .Field-SubLabel-TextBox:last-child input[type="text"] {
    margin-right: 0;
}

.LiveForm.Default .Field input[type="radio"],
.LiveForm.Default .Field input[type="checkbox"] {
    margin-right: 8px;
}

.LiveForm.Default input[type="submit"]:hover,
.LiveForm.Default input[type="button"]:hover {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

/*----------------Heading----------------*/

.LiveForm.Default .Field.Heading div.Field-Container-Wide {
    padding: 0 0 5px;
    border-bottom: 1px solid #ccc;
}

    .LiveForm.Default .Field.Heading div.Field-Container-Wide .SubHeader {
        font-style: italic;
    }

    .LiveForm.Default .Field.Heading div.Field-Container-Wide .Header {
        margin-bottom: 5px;
    }

.LiveForm.Default .Field.Heading h1 {
    font-size: 22px;
    color: inherit;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px;
    margin: 0 0 5px;
}

.LiveForm.Default .Field.Heading h2 {
    font-size: 18px;
    color: inherit;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px;
    margin: 0 0 5px;
}

.LiveForm.Default .Field.Heading h3 {
    font-size: 14px;
    color: inherit;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px;
    margin: 0 0 5px;
}

/*Default Submit Button Alignment css */
.LiveForm.Default .Submit-Align-Left {
    text-align: left;
}

.LiveForm.Default .Submit-Align-Center {
    text-align: center;
}

.LiveForm.Default .Submit-Align-Right {
    text-align: right;
}

/*Default Field Validation css */
.LiveForm.Default .Field.Matrix.Checkb.Required table,
.LiveForm.Default .Field.Matrix.Radiob.Required table,
.LiveForm.Default .Field.Required input,
.LiveForm.Default .Field.Required textarea,
.LiveForm.Default .Field.Required .plupload_filelist_footer,
.LiveForm.Default .Field.Required select,
.LiveForm.Default .Field.Required.Radiobutton table,
.LiveForm.Default .Field.Required.Checkbox table,
.LiveForm.Default .Field.Required.ScaleRating table,
.LiveForm.Default .Field.Required .StarRatingRequired {
    border-left: solid red 5px;
    padding-left: 5px;
}

.LiveForm.Default .Field.Required.Radiobutton table,
.LiveForm.Default .Field.Required.Checkbox table {
    padding-left: 6px;
    display: inline-block;
}

/*Default (Input/Textarea/Label/Select) Validation css */
.LiveForm.Default label.error {
    padding: 5px;
    color: red;
}

.LiveForm.Default input.error, .LiveForm.Default textarea.error, .LiveForm.Default select.error {
    border: 2px solid red;
    border-radius: 3px 3px 3px 3px;
    padding-left: 5px;
}

.LiveForm.Default label.InlineEdit form input {
    width: 100px !important;
}

.LiveForm.Default .Field-Tooltip {
    position: absolute;
    right: -275px;
    top: 0px;
    max-width: 250px;
    min-width: 250px;
    border: 4px solid #333;
    background: #fff;
    border-radius: 6px 6px;
    box-shadow: 0px 2px 4px #666;
    white-space: normal;
    display: none;
    z-index: 99999;
}

.LiveForm.Default .Field.Datetime .Field-Tooltip {
    right: -295px;
}

.LiveForm.Default .Field-Tooltip-Arrow {
    border-color: transparent #333 transparent transparent;
    border-style: solid;
    border-width: 10px;
    left: -24px;
    top: 7px;
    position: absolute;
    height: 0;
    width: 0;
}

/*----------------Common----------------*/

.LiveForm.Default .Field-SubLabel-TextBox {
    position: relative;
    vertical-align: top;
}

.LiveForm.Default .Field .Field-Container label,
.LiveForm.Default .Field .Field-Container-Wide label,
.LiveForm.Default .Field .Field-SubLabel-Container {
    font-size: 11px;
    margin: 2px 0 0 2px;
}

.LiveForm.Default .Field.Radiobutton .Field-Container label,
.LiveForm.Default .Field.Radiobutton .Field-Container-Wide label,
.LiveForm.Default .Field.Checkbox .Field-Container label,
.LiveForm.Default .Field.Checkbox .Field-Container-Wide label {
    font-size: 1em;
    margin: 0;
}

.LiveForm.Default .Field-Sub-Label label,
.LiveForm.Default .Address table label,
.LiveForm.Default .Field-SubLabel-Container {
    display: block;
}

.LiveForm.Default input,
.LiveForm.Default select,
.LiveForm.Default textarea {
    margin: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    color: #666;
}

.LiveForm.Default input[type="text"],
.LiveForm.Default input[type="password"],
.LiveForm.Default select {
    height: 38px;
}

.LiveForm.Default textarea {
    min-height: 38px;
}

.LiveForm.Default .Field > label {
    margin-bottom: 5px;
}

.LiveForm.Default .Field.Address .Field-Container span,
.LiveForm.Default .Field.Address .Field-Container label,
.LiveForm.Default .Field.Fullname .Field-Container label,
.LiveForm.Default .Field.Datetime .Field-Container label,
.LiveForm.Default .Field.Address .Field-Container-Wide span,
.LiveForm.Default .Field.Address .Field-Container-Wide label,
.LiveForm.Default .Field.Fullname .Field-Container-Wide label,
.LiveForm.Default .Field.Datetime .Field-Container-Wide label {
    margin-bottom: 10px;
}

.LiveForm.Default .Field.Fullname .Field-Container label {
    display: inline-block;
}

.LiveForm.Default .Field table td {
    padding: 0;
    vertical-align: baseline;
}

.LiveForm.Default .Field.Radiobutton table td,
.LiveForm.Default .Field.Checkbox table td {
    padding: 4px;
}

.LiveForm.Default .Field > label,
.LiveForm.Default .Field .MatrixWrapper > label {
    font-weight: bold;
}

.LiveForm.Default .ScaleRating table td,
.LiveForm.Default .ScaleRating table th {
    text-align: center;
    padding: 4px;
}

.LiveForm.Default select,
.LiveForm.Default textarea,
.LiveForm.Default input[type="text"],
.LiveForm.Default input[type="password"],
.LiveForm.Default .Field.FileUpload input,
.LiveForm.Default .Field.Phone input.Phone {
    width: 100%;
}

.viewport-sm .LiveForm.Default .Field.Fullname input.prefix,
.viewport-sm .LiveForm.Default .Field.Fullname input.suffix {
    width: 50px;
}

.LiveForm.Default .Field-Container,
.LiveForm.Default .Field-SubLabel-TextBox {
    display: block;
}

.viewport-sm .LiveForm.Default .Field-Container,
.viewport-sm .Field.Fullname .Field-SubLabel-TextBox {
    display: inline-table;
}

.LiveForm.Default .Field table {
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}

.LiveForm.Default .Field .Field-Seperator {
    padding: 0 8px;
}

.viewport-sm .LiveForm.Default .Field.Address input[type="text"],
.viewport-sm .LiveForm.Default .Field.Address select {
    width: 142px;
}

.viewport-sm .LiveForm.Default select,
.viewport-sm .LiveForm.Default textarea,
.viewport-sm .LiveForm.Default input[type="text"],
.viewport-sm .LiveForm.Default input[type="password"],
.viewport-sm .LiveForm.Default .Field.FileUpload input,
.viewport-sm .LiveForm.Default .Field.Address input.Street-Address,
.viewport-sm .LiveForm.Default .Field.Address input.Street-Address2,
.viewport-sm .LiveForm.Default .Field.Phone input.Phone {
    width: 300px;
}

.viewport-sm .LiveForm.Default .Field.Fullname input[type="text"] {
    width: 142px;
}

.viewport-sm .LiveForm.Default .Field.Fullname input.prefix,
.viewport-sm .LiveForm.Default .Field.Fullname input.suffix {
    width: 50px;
}

.viewport-sm .LiveForm.Default .Field.Birthdate input[type="text"],
.viewport-sm .LiveForm.Default .Field.Datetime input[type="text"],
.viewport-sm .LiveForm.Default .Field.Datetime select,
.viewport-sm .LiveForm.Default .Field.Birthdate select {
    width: 80px;
}

.viewport-sm .LiveForm.Default .Field.Time select {
    width: 88px;
}

.LiveForm.Default .Field.Phone input.AreaCode,
.LiveForm.Default .Field.Phone table tr td:first-child {
    width: 60px;
}

.viewport-sm .LiveForm.Default .Field.Phone input.PhoneNumber {
    width: 211px;
}

.viewport-sm .LiveForm.Default .Field-Container-Wide {
    display: table;
    position: relative;
}

/*----------------Matrix----------------*/

.LiveForm.Default .Matrix table th {
    background-color: #ddd;
}

.LiveForm.Default .Matrix table td,
.LiveForm.Default .Matrix table th {
    padding: 6px;
    text-align: center;
    border: 1px solid #ccc;
}

    .LiveForm.Default .Matrix table td.tdBlank {
        border: 0;
        background-color: transparent;
    }

    .LiveForm.Default .Matrix table th.thBlank {
        border: 0;
        background-color: transparent;
    }

.LiveForm.Default .Matrix table tr > th:first-child {
    text-align: left;
}

.viewport-sm .LiveForm.Default input.Field-Matrix-TextBox,
.viewport-sm .LiveForm.Default select.Field-Matrix-DropDown,
.viewport-sm .LiveForm.Default input.Field-Matrix-TextBoxNumeric {
    width: 130px;
}

.LiveForm.Default input.Field-Matrix-TextBoxNumeric {
    width: 60px;
}

.LiveForm.Default .Matrix .MatrixWrapper {
    overflow-x: auto;
}

.LiveForm.Default .Matrix table th {
    font-weight: bold;
}

.LiveForm.Default .Matrix .Field-Container input {
    margin: 0;
}

.LiveForm.Default .Field-Tooltip-Arrow-Small {
    border-color: transparent #F5F5F5 transparent transparent;
    border-style: solid;
    border-width: 7px;
    height: 0;
    width: 0;
    left: -14px;
    top: 10px;
    position: absolute;
}

.LiveForm.Default .Field-Tooltip-Content {
    padding: 10px;
    font-size: 10px;
    color: #333;
}

.LiveForm .fullname-container {
    margin-right: 5px;
    white-space: nowrap;
}

.emailwizard-header {
    background: none repeat scroll 0px 0px rgb(255, 161, 0);
    border-bottom: 1px solid rgb(194, 122, 0);
    border-radius: 3px 3px 0px 0px;
    height: 35px;
    padding: 2px;
    position: relative;
    z-index: 1000;
    vertical-align: middle;
    font-weight: bolder;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    padding-left: 11px 4px 0 12px;
    font-size: 13px;
    cursor: move;
    color: rgb(255, 255, 255);
}

.emailwizard-header-label {
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    font-size: 13px;
    cursor: move;
    color: rgb(255, 255, 255);
}

.viewport-sm .LiveForm.Default label.Field-Label-Auto,.viewport-sm .LiveForm.Default label.Field-Label-Hidden,.viewport-sm .LiveForm.Default span.Field-Label-Auto {
    width: 150px;
}

.viewport-sm .LiveForm.Default.Form-Top .Field-Label-Auto,.viewport-sm .LiveForm.Default.Form-Top .Field-Label-Hidden {
    width: auto;
}

.LiveForm.Default label.Field-Label-Auto,.LiveForm.Default label.Field-Label-Hidden,.LiveForm.Default span.Field-Label-Auto {
    display: inline-block;
    vertical-align: top;
}

/*Field Specific*/
.LiveForm.Default .Field.Image .Field-Container {
    display: block;
}

/*hide button in page break */
.LiveForm.Default ul li .button-hidden {
    display: none;
}

.LiveForm.Default ul li .form-pagebreak-back-container input[type=button],
.LiveForm.Default ul li .form-pagebreak-next-container input[type=button] {
    float: left;
}

.LiveForm.Default .hidden {
    display: none;
}

.LiveForm.Default .Field-Container-Wide .next-form-pagebreak button:last-child,
.LiveForm.Default .Field-Container-Wide .form-pagebreak.next-form-pagebreak .button-next {
    float: right;
}

/* Smartphones and iPad (portrait and landscape) ----------- */
@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .LiveForm.Default {
        max-width: 100%;
    }
}

.LiveForm.Default .Matrix .Field-Container > div {
    display: table-caption;
}

.LiveForm.Default .plupload_filelist_footer {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.LiveForm.Default .next-form-pagebreak .button-next {
    float: right !important;
}

.LiveForm.Default .nrequired, .LiveForm.Default .Radiobutton.Required input[type="text"] {
    width: 107px;
    margin: 0;
}
