
<h3>New Survey</h3>
<section ng-init="tab = 10">
    <div class="navbar navbar-fixed-left">
        <ul class="nav navbar-nav">
            <li ng-class="{ active:tab === 10 }"><a href ng-click="tab = 10">Client Details</a></li>
            <li ng-class="{ active:tab === 20 }"><a href ng-click="tab = 20">General Info</a></li>
            <li ng-repeat="plan in survey.ActivePlans">{{plan.ActivePlan.PlanName}}
                <ul>
                    <li ng-class="{ active:tab === ($index + 30) }"><a href ng-click="setSelected($index + 30)">Medical Plan</a></li>
                    <li ng-class="{ active:tab === ($index + 40) }"><a href ng-click="setSelected($index + 40)">Plan Design</a></li>
                    <li ng-class="{ active:tab === ($index + 50) }"><a href ng-click="setSelected($index + 50)">Prescription Drug Plan</a></li>
                </ul>
            </li>
            <li ng-class="{ active:tab === 600 }"><a href ng-click="tab = 600">Retiree Plan</a></li>
            <li ng-class="{ active:tab === 700 }"><a href ng-click="tab = 700">Section 125</a></li>
        </ul>
    </div>
    <div class="container">
        <sw-Company-Details class="panel" ng-show="tab === 10" ng-model="survey.GeneralResponse"></sw-Company-Details>
        <sw-General-Info class="panel" ng-show="tab === 20" ng-model="survey.GeneralResponse" action="changePlanCount()"></sw-General-Info>
        <div class="container" ng-repeat="plan in survey.ActivePlans">
            <sw-Medical-Plan class="panel" ng-show="tab === ($index + 30)" ng-model="plan.ActivePlan"></sw-Medical-Plan>
            <sw-Plan-Design class="panel" ng-show="tab === ($index + 40)" ng-model="plan.ActivePlan"></sw-Plan-Design>
            <sw-Rx-Plan class="panel" ng-show="tab === ($index + 50)" ng-model="plan.RxPlan"></sw-Rx-Plan>
        </div>
        <sw-Retiree-Plan class="panel" ng-show="tab === 600" ng-model="survey"></sw-Retiree-Plan>
        <sw-Section-125 class="panel" ng-show="tab === 700" ng-model="survey.Section125"></sw-Section-125>
        <button id="Submit" class="btn btn-default" value="{{isSubmitting ? 'saving...' : 'Save'}}" ng-click="saveSurvey(survey)" ng-disabled="isSubmitting">Save</button>
        <!-- <a class="btn btn-default" ng-click="(tab > 50)? setSelected(600) : setSelected(tab+10)">Next</a> -->
    </div>
</section>
