<div class="page-header">
    <h3>Client Details</h3><br>
</div>
<table cellpadding="0" cellspacing="0" width="800">
    <tr>
        <td class=survey-question valign="top" width="401">
            <!-- Q1a -->
            <table border="0" width="399" id="table9" cellspacing="0" cellpadding="5">
                <tr>
                    <td height="30">
                        <span>1a.If this client will no longer be part of the UBA Health Plan Survey, is it due to:</span>
                    </td>
                    <td width="29">
                        <span class="icons help" data-questionid="60"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td height="40" width="190">
                        <span>
                            <input type="radio" tabindex="2" name="d_NoLongerHPSReasonID" id="d_NoLongerHPSReasonID_1" value="1" {IIF,"[|NoLongerHPSReasonID,SurveyResponses]=1","checked",""} />
                            <label for="d_DoesNotParticipate_0">Terminated policy</label><br />
                            <input type="radio" tabindex="3" name="d_NoLongerHPSReasonID" id="d_NoLongerHPSReasonID_2" value="2" {IIF,"[|NoLongerHPSReasonID,SurveyResponses]=2","checked",""} />
                            <label for="d_DoesNotParticipate_1">No longer a client</label><br>
                            <input type="radio" tabindex="4" name="d_NoLongerHPSReasonID" id="d_NoLongerHPSReasonID_3" value="3" {IIF,"[|NoLongerHPSReasonID,SurveyResponses]=3","checked",""} />
                            <label for="d_PremiumContributionStrategy_2">Client moved policy to marketplace</label><br />
                            <input type="radio" tabindex="5" name="d_NoLongerHPSReasonID" id="d_NoLongerHPSReasonID_0" value="0" {IIF,"[|NoLongerHPSReasonID,SurveyResponses]=0","checked",""} />
                            <label for="d_PremiumContributionStrategy_2">Client is part of the Health Plan Survey</label>
                        </span>
                    </td>
                </tr>
            </table>
            <!-- TODO: hide clientId from view -->
            <table cellpadding="0" cellspacing="0">
                <!-- Q1 -->
                <tr>
                    <td height="44" valign="middle">
                        <span>1. Client ID Number:</span>
                    </td>
                    <td>
                        &nbsp;{{survey.OrganizationName}}
                        &nbsp;Edit
                        <span class="icons help" data-questionid="1"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0">
                <!-- Q2 -->
                <tr>
                    <td height="44" valign="middle">
                        <span>
                            2. Name of Organization:
                        </span>
                    </td>
                    <td width="204" height="44" valign="middle">
                        <input type="text" size="60" tabindex="6" maxlength="100" name="d_Organization" id="d_Organization" ng-model="survey.OrganizationName">
                    </td>
                    <td height="44" width="29">
                        <span class="icons help" data-questionid="2"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" width="440">
                <!-- Q3 -->
                <tr>
                    <td height="30" width="300">
                        <span>
                            3. Name of Person Completing Survey:
                        </span>
                    </td>
                    <td>
                        <input type="text" size="60" tabindex="7" maxlength="100" name="d_PersonCompletingSurvey" id="d_PersonCompletingSurvey" ng-model="survey.PersonCompletingSurvey">
                    </td>
                    <td height="39">
                        <span class="icons help" data-questionid="3"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0">
                <!-- Q4 -->
                <tr>
                    <td height="43" valign="middle">

                        <span>
                            4.
                            Title:
                        </span>
                    </td>
                    <td width="209" height="43">
                        <input type="text" size="28" tabindex="8" maxlength="75" name="d_PersonCompletingSurvey_Title" id="d_PersonCompletingSurvey_Title" value="[|COALESCE,PersonCompletingSurvey_Title,SurveyResponses,{ENCODEHTML}]">
                    </td>
                    <td width="29" height="43">
                        <span class="icons help" data-questionid="4"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0">
                <!-- Q5 -->
                <tr>
                    <td height="44">

                        <span>
                            5.
                            Email Address:
                        </span>
                    </td>
                    <td height="44" width="209">
                        <input type="text" size="28" tabindex="9" maxlength="100" name="d_PersonCompletingSurvey_Email" id="d_PersonCompletingSurvey_Email" value="[|COALESCE,PersonCompletingSurvey_Email,SurveyResponses,{ENCODEHTML}]">
                    </td>
                    <td width="29" height="44">
                        <span class="icons help" data-questionid="5"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0">
                <!-- Q6 -->
                <tr>
                    <td height="46" width="130">

                        <span>
                            6.
                            Phone Number:
                        </span>
                    </td>
                    <td height="46" width="95">
                        <input type="text" size="11" tabindex="10" maxlength="14" name="d_PersonCompletingSurvey_Phone" id="d_PersonCompletingSurvey_Phone" value="[|COALESCE,PersonCompletingSurvey_Phone,SurveyResponses,{ENCODEHTML}]">
                    </td>
                    <td width="40" height="46">
                        <span style="font-family: Tahoma;font-size:13px;">
                            <b>Ext.:</b>
                        </span>
                    </td>
                    <td width="55" height="46" align="left">
                        <input type="text" size="5" tabindex="11" maxlength="10" name="d_PersonCompletingSurvey_PhoneExt" id="d_PersonCompletingSurvey_PhoneExt" value="[|COALESCE,PersonCompletingSurvey_PhoneExt,SurveyResponses,{ENCODEHTML}]">
                    </td>
                    <td width="29" height="46" align="left">
                        <span class="icons help" data-questionid="6"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0">
                <!-- Q7 -->
                <tr>
                    <td height="45">

                        <span>
                            7.
                            City:
                        </span>
                    </td>
                    <td width="209" height="45">
                        <input type="text" size="26" tabindex="12" maxlength="50" name="d_City" id="d_City" value="[|COALESCE,City,SurveyResponses,{ENCODEHTML}]">
                    </td>
                    <td width="29" height="45">
                        <span class="icons help" data-questionid="7"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0">
                <!-- Q8 -->
                <tr>
                    <td height="45">

                        <span><b>8. State:</b></span>
                    </td>
                    <td height="45" width="209">
                        <select size="1" tabindex="13" name="d_State" id="d_State">
                            <option value="">
                                -- Select a State --
                                {SUBQUERY,
                                Name="StateList",
                                Query="EXEC svy_States_GetAll" ,
                                Header="",
                                Footer="",
                                NoResultFormat="",
                                NoQueryFormat="",
                                Format="
                            <option value='[StateCode]'>
                                [StateName]",
                                SelectedFormat="
                            <option value='[StateCode]' selected>
                                [StateName]",
                                SelectedField="StateCode",
                                SelectedItems="[|State,SurveyResponses]",
                                UseCache="True"}
                        </select>
                        &nbsp;<span class="icons help" data-questionid="8"></span>
                    </td>
                </tr>
            </table>

            <table cellpadding="0" cellspacing="0">
                <!-- Q9 -->
                <tr>
                    <td height="44" style="font-family: Tahoma;font-size:13px;">
                        <b>9. ZIP code (5-digit only):</b>
                    </td>
                    <td height="44" style="font-family: Tahoma;font-size:13px;" width="160">
                        <input type="text" size="5" tabindex="14" maxlength="5" name="d_ZipCode" id="d_ZipCode" value="[|COALESCE,ZipCode,SurveyResponses,{ENCODEHTML}]">
                        <span class="icons help" data-questionid="9"></span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" border="0">
                <!-- Q10 -->
                <tr>
                    <td colspan="2" height="44" align="left" style="font-family: Tahoma;font-size:13px;">
                        <span font-weight:700">
                            10.
                            For organizations with multiple locations, please provide the city,
                            state, and ZIP code of your location with the largest employee enrollment (only if other than the location noted above).
                        </span>
                        <span class="icons help" data-questionid="10"></span>
                    </td>
                </tr>
                <tr>
                    <td width="170" height="42">
                        <span>City:</span>
                    </td>
                    <td width="203" height="42">
                        <input type="text" size="26" tabindex="15" maxlength="50" name="d_LargestLocCity" id="d_LargestLocCity" value="[|COALESCE,LargestLocCity,SurveyResponses,{ENCODEHTML}]"> <span class="icons"></span>
                    </td>
                </tr>
                <tr>
                    <td width="59" height="45">
                        <span> State:</span>
                    </td>
                    <td width="145" height="45">
                        <font style="font-size:13px;">
                            <select size="1" tabindex="16" name="d_LargestLocState" id="d_LargestLocState">
                                <option value="">
                                    -- Select a State --
                                    {SUBQUERY,
                                    Name="StateList",
                                    Query="EXEC svy_States_GetAll" ,
                                    Header="",
                                    Footer="",
                                    NoResultFormat="",
                                    NoQueryFormat="",
                                    Format="
                                <option value='[StateCode]'>
                                    [StateName]",
                                    SelectedFormat="
                                <option value='[StateCode]' selected>
                                    [StateName]",
                                    SelectedField="StateCode",
                                    SelectedItems="[|LargestLocState,SurveyResponses]",
                                    UseCache="True"}
                            </select><span class="icons"></span>
                    </td>
                </tr>
                <tr>
                    <td width="89" height="45">
                        <span>
                            Zip Code
                            <br>
                            (5-digit Only):
                        </span>
                    </td>
                    <td width="61" height="45">
                        <input type="text" size="5" tabindex="17" maxlength="5" name="d_LargestLocZipCode" id="d_LargestLocZipCode" value="[|COALESCE,LargestLocZipCode,SurveyResponses,{ENCODEHTML}]"> <span class="icons"></span>
                    </td>
                </tr>
            </table>
            <table border="0" width="399" id="table18" cellspacing="0" cellpadding="5">
                <tr>
                    <td height="31" width="175">
                        <b><span style="font-family: Tahoma;font-size:13px;">10a. Is this a Controlled Group:</span></b>
                    </td>
                    <td height="31" width="30" valign="top">
                        <span class="icons help" data-questionid="54"></span>
                    </td>
                </tr>
                <tr>
                    <td width="175" valign="top" colspan="2">
                        <span>
                            <input type="radio" tabindex="18" name="d_IsControlledGroup" id="d_IsControlledGroup_0" value="1" {IIF,"[|IsControlledGroup,SurveyResponses]=True","checked",""} />
                            <label for="d_IsControlledGroup_0">Yes</label><br />
                            <input type="radio" tabindex="19" name="d_IsControlledGroup" id="d_IsControlledGroup_1" value="0" {IIF,"[|IsControlledGroup,SurveyResponses]=False","checked",""} />
                            <label for="d_IsControlledGroup_1">No</label>
                        </span>
                    </td>
                </tr>
            </table>
            <table style="width: 474px; margin-top: 10px;">
                <tr>
                    <td height="30">
                        <b>

                            <span style="font-family: Tahoma;font-size:13px;">
                                11.NAICS
                                Code:
                        </b> </span>
                        <button onclick="window.open('http://www.census.gov/eos/www/naics/','naics',''); return false;"> NAICS Webpage </button>
                        &nbsp;<span class="icons help" data-questionid="11">
                            <span id="vcNAICSMaster" controltovalidate="d_NAICSMaster" errormessage="The NAICS Code entered does not match a valid NAICS Code. Please enter a valid NAICS Code. If you do not know your NAICS Code, click on the above button to see a listing."
                                  display="Dynamic" evaluationfunction="CustomValidatorEvaluateIsValid" clientvalidationfunction="validateNAICS"
                                  initialvalue="" data-targettable="SurveyResponses" group="gd_NAICSMaster" class="spanValidation"
                                  data-errortype="Severe" style="position: relative; display: inline; left: 0px;">
                                <img class="displayValidationError" style="position:absolute;left:0px;background-color:#ffffff;z-index:1;" src="/Portals/_default/bolton/images/severe_t.png">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td height="42" width="700" colspan="2">
                        <span style="font-size:13px;">
                            <input type="text" tabindex="20" maxlength=6 style="width:75px;" name="d_NAICSMaster" id="d_NAICSMaster" value="[|COALESCE,NAICSMaster,SurveyResponses,{ENCODEHTML}]"> (enter all 6 characters)
                        </span><span name="naicsLookup" id="naicsLookup" style="color: #0000BC;"></span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" width="360" style="height: 26px">

                        <b>

                            <span style="font-family: Tahoma;font-size:13px;">
                                12.
                            </span>
                        </b>
                        <span>
                            <b>
                                Type of
                                Organization:
                            </b>
                        </span>
                    </td>
                    <td width="29" style="height: 26px">
                        <span class="icons help" data-questionid="12"></span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="4">
                        <table cellpadding="5px">
                            <tr>
                                <td><label><input name="d_OrganizationType" tabindex="21" id="d_OrganizationType_1" value="For-Profit" type="radio" {IIF,"'[|OrganizationType,SurveyResponses]'='For-Profit' "," checked",""}>For-Profit</label></td>
                                <td><label><input name="d_OrganizationType" tabindex="22" id="d_OrganizationType_2" value="Not-For-Profit" type="radio" {IIF,"'[|OrganizationType,SurveyResponses]'='Not-For-Profit' "," checked",""}>Not-For-Profit</label></td>
                                <td><label><input name="d_OrganizationType" tabindex="23" id="d_OrganizationType_3" value="Public/Governmental" type="radio" {IIF,"'[|OrganizationType,SurveyResponses]'='Public/Governmental' "," checked",""}>Public/Governmental</label></td>
                                <td><label><input name="d_OrganizationType" tabindex="24" id="d_OrganizationType_4" value="Union" type="radio" {IIF,"'[|OrganizationType,SurveyResponses]'='Union' "," checked",""}>Union</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" width="360" style="height: 26px">
                        <b><span style="font-family: Tahoma;font-size:13px;">12a. Do the employees of this organization belong to a union?</span></b>
                    </td>
                    <td width="29" style="height: 26px">
                        <span class="icons help" data-questionid="12a"></span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="4">
                        <span>
                            <input type="radio" tabindex="25" name="d_HasUnion" id="d_HasUnion_0" value="1" {IIF,"[|HasUnion,SurveyResponses]=True","checked",""} />
                            <label for="d_HasUnion_0">Yes</label><br />
                            <input type="radio" tabindex="26" name="d_HasUnion" id="d_Union_1" value="0" {IIF,"[|HasUnion,SurveyResponses]=False","checked",""} />
                            <label for="d_HasUnion_1">No</label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" width="360" style="height: 26px">
                        <b><span style="font-family: Tahoma;font-size:13px;">12b. Does this organization employ Leased/Staffed employees?</span></b>
                    </td>
                    <td width="29" style="height: 26px">
                        <span class="icons help" data-questionid="12b"></span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="4">
                        <span>
                            <input type="radio" tabindex="27" name="d_HasLeasedStaffed" id="d_HasLeasedStaffed_0" value="1" {IIF,"[|HasLeasedStaffed,SurveyResponses]=True","checked",""} />
                            <label for="d_HasLeasedStaffed_0">Yes</label><br />
                            <input type="radio" tabindex="28" name="d_HasLeasedStaffed" id="d_HasLeasedStaffed_1" value="0" {IIF,"[|HasLeasedStaffed,SurveyResponses]=False","checked",""} />
                            <label for="d_HasLeasedStaffed_1">No</label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" width="360" style="height: 26px">
                        <b><span style="font-family: Tahoma;font-size:13px;">12c. Is this an Applicable Large Employer (100 or more full-time equivalent employees)?</span></b>
                    </td>
                    <td width="29" style="height: 26px">
                        <span class="icons help" data-questionid="12c"></span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="4">
                        <span>
                            <input type="radio" tabindex="29" name="d_IsApplicableLargeEmployer" id="d_IsApplicableLargeEmployer_0" value="1" {IIF,"[|IsApplicableLargeEmployer,SurveyResponses]=True","checked",""} />
                            <label for="d_IsApplicableLargeEmployer_0">Yes</label><br />
                            <input type="radio" tabindex="30" name="d_IsApplicableLargeEmployer" id="d_IsApplicableLargeEmployer_1" value="0" {IIF,"[|IsApplicableLargeEmployer,SurveyResponses]=False","checked",""} />
                            <label for="d_IsApplicableLargeEmployer_1">No</label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td height="37" valign="middle" style="width: 349px">
                        <b><span style="font-family: Tahoma;font-size:13px;">13.Total Number of Active Employees: </span></b>
                    </td>
                    <td width="83" height="37" valign="middle">
                        <p align="center">
                            <input type="text" size="7" tabindex="31" maxlength="6" name="d_Employees" id="d_Employees" value="[|COALESCE,Employees,SurveyResponses,{ENCODEHTML}]">
                    </td>
                    <td height="37" valign="middle" width="29">
                        <p align="center">
                            <span class="icons help" data-questionid="13"></span>
                    </td>
                </tr>
                <tr>
                    <td height="75" valign="middle" style="width: 349px">
                        <b><span style="font-family: Tahoma;font-size:13px;">14. Total Number of Active Employees<br>Eligible for Any Group Medical Plans<br>Offered: </span></b>
                        <span style="font-family: Tahoma;font-size:13px;">(Please click on the "i" help button for the definition of eligible employees.)</span>
                    </td>
                    <td width="83" height="75" valign="middle" style="vertical-align:middle;">
                        <input type="text" size="7" tabindex="32" maxlength="6" name="d_EligibleEmployees" id="d_EligibleEmployees" value="[|COALESCE,EligibleEmployees,SurveyResponses,{ENCODEHTML}]">
                    </td>
                    <td height="75" valign="middle" width="29" style="vertical-align:middle;">
                        <span class="icons help" data-questionid="14"></span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="2" width="360" style="height: 26px">
                        <b><span style="font-family: Tahoma;font-size:13px;">14a. Are there employees that work variable hours?</span></b>
                    </td>
                    <td width="29" style="height: 26px">
                        <span class="icons help" data-questionid="55"></span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="4">
                        <span>
                            <input type="radio" tabindex="33" name="d_HasVariableHourEmployees" id="d_HasVariableHourEmployees_0" value="1" {IIF,"'[|HasVariableHourEmployees,SurveyResponses]'='True' "," checked",""} />
                            <label for="d_HasVariableHourEmployees_0">Yes</label><br />
                            <input type="radio" tabindex="34" name="d_HasVariableHourEmployees" id="d_HasVariableHourEmployees_1" value="0" {IIF,"'[|HasVariableHourEmployees,SurveyResponses]'='False' "," checked",""} />
                            <label for="d_HasVariableHourEmployees_1">No</label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td height="37" valign="middle" style="width: 450px">
                        <b><span style="font-family: Tahoma;font-size:13px;">14b. How many Part-Time, Full-Time Equivalent, and Other employees? </span></b>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">
                        Part-Time:  <input type="text" size="6" tabindex="35" maxlength="6" name="d_PartTimeCount" id="d_PartTimeCount" value="[|COALESCE,PartTimeCount,SurveyResponses,{ENCODEHTML}]" />
                        <br /><br />
                        Full-Time Equivalent: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="6" tabindex="36" maxlength="6" name="d_FullTimeCount" id="d_FullTimeCount" value="[|COALESCE,FullTimeCount,SurveyResponses,{ENCODEHTML}]" />
                        <br /><br />
                        Other (Contract, Lease, Seasonal): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" size="6" tabindex="37" maxlength="6" name="d_EECount" id="d_EECount" value="[|COALESCE,EECount,SurveyResponses,{ENCODEHTML}]" />
                    </td>
                    <td height="37" valign="middle" width="20">
                        <p align="center"><span class="icons help" data-questionid="14b"></span></p>
                    </td>
                </tr>
            </table>
            <table border="0" width="399" id="table20" cellspacing="0" cellpadding="0" height="72">
                <tr>
                    <td height="31" colspan="2">
                        <b><span style="font-family: Tahoma;font-size:13px;">15. Are Ancillary Products Offered?</span></b>
                    </td>
                    <span class="icons help" data-questionid="15"></span>
                </tr>
                <tr>
                    <td height="20" width="190">
                        <span style="font-family: Tahoma;font-size:13px;"><input type="radio" tabindex="38" name="d_AncillaryProductsOffered" id="d_AncillaryProductsOffered_0" value="1" {IIF,"'[|AncillaryProductsOffered,SurveyResponses]'='True' "," checked",""}> <label for="d_AncillaryProductsOffered_0">Yes</label></span>
                        <br />
                        <span style="font-family: Tahoma;font-size:13px;"><input type="radio" tabindex="39" name="d_AncillaryProductsOffered" id="d_AncillaryProductsOffered_1" value="0" {IIF,"'[|AncillaryProductsOffered,SurveyResponses]'='False' "," checked",""}> <label for="d_AncillaryProductsOffered_1">No</label></span>
                    </td>
                </tr>
                <tr>
                    <td height="10">&nbsp;</td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<button id="Submit" class="btn btn-default" ng-click="saveSurvey(survey)" ng-disabled="isSubmitting">Submit</button>