<style>
    .surveyGrid {
        width: 95%;
        height: 450px;
      }
    .header-filtered {
        color: darkgreen;
     }
</style>
<div class="container" ng-init="isNewSurvey=false">
    <h3>Surveys</h3>
    <button type="button" class="btn btn-primary btn-lg" ng-click="isNewSurvey = !isNewSurvey">New Survey</button>
    <div ng-show="!isNewSurvey">
        <div id="grid1" ui-grid="gridOptions" class="surveyGrid"></div>
    </div>
    <div ng-show="isNewSurvey" ng-init="startType=0">
        <h4>Start a New Survey</h4>
        <div class="form-group">
            <h5>Welcome to the Survey</h5>
            <div class="radio">
                <label><input type="radio" ng-model="startType" name="startType" value="0">Start a survey for a new client</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="startType" name="startType" value="1">Start a new survey with an existing client (load last year's data if available )</label>
            </div>
            <div class="form-group" ng-show="startType == 1">
                <br />
                <label for="">Client  </label>
                <select ng-init="clientResponse = clientResponse || options[0]"
                        ng-options="client as client.Name for client in clients" ng-model="slientList">
                    <option value="" selected>-Select a client-</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" ng-click="isNewSurvey=false">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="startSurvey(startType, slientList.ResponseId)">Start Survey</button>
    </div>
</div>
