<div class="page-header">
    <h3>{{survey.GeneralResponse.OrganizationName}}</h3><br>
    <small>{{survey.GeneralResponse.PersonCompletingSurvey}} - {{survey.GeneralResponse.PersonCompletingSurvey_Email}}</small>
</div>
<p><span class="label label-info">{{survey.GeneralResponse.Broker}}</span></p>
<p><span class="label label-info">{{survey.GeneralResponse.City}}, {{survey.GeneralResponse.US_StateId}}</span></p>
<p><span class="label label-info">{{survey.GeneralResponse.ResponseStatus}}</span></p>
<p><span class="label label-info">{{survey.GeneralResponse.CreatedOn | date : 'shortDate' }}</span></p>
<p><span class="label label-info">{{survey.GeneralResponse.UpdatedOn | date : 'shortDate'}}</span></p>
<p><span class="label label-info">Survey Link</span></p>
<p><span class="label label-info">{{survey.GeneralResponse.CompletedOn | date : 'shortDate'}}</span></p>
<p><span class="label label-info">{{survey.GeneralResponse.CompletedBy}}</span></p>
<a ng-href="#/surveys/{{survey.GeneralResponse.ResponseId}}/edit" class="btn btn-default">Edit Survey</a>
<a href="" ng-click="deleteSurvey(survey.GeneralResponse.ResponseId, 2)" class="btn btn-danger">Delete</a>
<button id="Submit" class="btn btn-danger" ng-click="deleteSurvey(survey.GeneralResponse.ResponseId, 2)" ng-disabled="isSubmitting">Delete</button>
