<div class="page-header">
  <div class="row">
    <div class="col-md-10">
          <h3>{{survey.GeneralResponse.OrganizationName}}<br>
          <small>{{survey.GeneralResponse.PersonCompletingSurvey}} - {{survey.GeneralResponse.PersonCompletingSurvey_Email}}</small></h3>
    </div>
    <div class="col-md-2" align="right">
      <h4>
      <a ng-href="#/surveys/{{survey.GeneralResponse.ResponseId}}/edit" class="btn btn-default" aria-label="Edit" title="Edit Survey">
        <span class="fa fa-pencil" aria-hidden="true"></span>
      </a>
      <a ng-click="deleteSurvey(survey.GeneralResponse.ResponseId)" ng-disabled="isSubmitting" class="btn btn-danger" aria-label="Delete" title="Delete Survey">
        <span class="fa fa-trash" aria-hidden="true"></span>
      </a>
    </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h4>Broker</h4>
  </div>
  <!-- <div class="col-md-3">
    <h4><small>{{survey.GeneralResponse.Broker}}</small></h4>
  </div>  -->
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Location</h4>
  </div>
  <div class="col-md-3" ng-controller="ReferenceController as states" tablename="US_State">
    <h4><small>{{survey.GeneralResponse.City}},
    <div style="display:inline;" ng-model="survey.GeneralResponse.US_StateId" ng-repeat="item in states.items | filter: {TypeId : survey.GeneralResponse.US_StateId}">
    {{item.Name}}</div></small></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Response Status</h4>
  </div>
  <div class="col-md-3" ng-controller="ReferenceController as statuses" tablename="SurveyResponseStatusType" >
    <a title="Help" data-html="true" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Possible Values:  Validated, Completed, Broker-Deleted">
      <h4><small>
        <div style="display:inline;" ng-model="survey.GeneralResponse.SurveyResponseStatusTypeId" ng-repeat="item in statuses.items | filter: {TypeId : survey.GeneralResponse.SurveyResponseStatusTypeId}">
        {{item.Name}}</div>
        </small></h4>
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Survey Created</h4>
  </div>
  <div class="col-md-3">
    <h4><small>{{survey.GeneralResponse.CreatedOn | date : 'shortDate' }}</small></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Last Updated</h4>
  </div>
  <div class="col-md-3">
    <h4><small>{{survey.GeneralResponse.UpdatedOn | date : 'shortDate'}}</small></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Survey Link</h4>
  </div>
  <div class="col-md-3">
    <h4><small><a href="/survey?response={{survey.GeneralResponse.WebId}}">http://healthplansurvey.ubabenefits.com/survey?response={{survey.GeneralResponse.WebId}}</a></small></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>Survey Completion Date</h4>
  </div>
  <div class="col-md-3">
    <h4><small>{{survey.GeneralResponse.CompletedOn | date : 'shortDate'}}</small></h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3" ng-controller="PersonController as person" id="{{survey.GeneralResponse.CompletedBy}}">
    <h4>Completed By</h4>
  </div>
  <div class="col-md-3">
    <h4><small ng-if="survey.GeneralResponse.CompletedOn > 0">{{person.person.DisplayName}}</small></h4>
  </div>
</div>
<hr>
<a ng-href="#/surveys" class="btn btn-primary" aria-label="Close" title="Close"><span class="fa  fa-chevron-circle-left">  Back to Surveys</a>
<!-- <script>
    $("[data-toggle=popover]").popover();
</script>
 -->
